@charset "UTF-8";
:root {
  --main-color: #d22323;
  --header-size: 210px;
}

.--inner {
  width: 90%;
  margin: 0 auto;
}

.--img-white {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg) brightness(111%) contrast(101%);
}

body {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: initial;
  color: #fff;
  background: #000;
}
@media screen and (max-width: 1600px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}

.inner {
  max-width: 1710px;
  margin-left: var(--header-size);
}
@media screen and (max-width: 1280px) {
  .inner {
    width: 95%;
    margin-left: calc(var(--header-size) / 1.5);
  }
}

section {
  height: 100vh;
}

.sec-title {
  text-align: center;
  font-size: 2.625em;
}

.text-align-end {
  text-align: end;
  align-items: end;
}

.flex-end {
  justify-content: flex-end;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.translucent {
  color: rgba(255, 255, 255, 0.5);
}

button.prev,
button.next {
  cursor: pointer;
}

/* 서브 제목 */
.sub-title {
  display: inline-block;
  font-size: 42px;
  padding: 0 0 10px 10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  .sub-title {
    margin-bottom: 20px;
  }
}

/* 본문 */
.sub-title + p {
  width: 70%;
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1280px) {
  .sub-title + p {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
  }
}

.check {
  font-weight: 700;
}

/*^ header */
header {
  width: var(--header-size);
  height: 100vh;
  position: fixed;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1280px) {
  header {
    top: 0;
    width: calc(var(--header-size) / 1.5);
  }
}
header .logo-wrap {
  height: 10%;
}
header .logo-wrap .logo {
  margin: 35px auto 0;
  width: 170px;
  height: 35px;
  background: url("../../images/logo_en.png");
}
@media screen and (max-width: 1280px) {
  header .logo-wrap .logo {
    width: 140px;
    height: 25px;
    background-size: cover;
  }
}
header .logo-wrap .logo > a {
  display: block;
  text-indent: -9999em;
  width: 100%;
  height: 100%;
}
header > nav:first-of-type {
  height: 80%;
}
@media screen and (max-width: 1280px) {
  header > nav:first-of-type {
    height: 70%;
  }
}
header > nav > .gnb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
header > nav > .gnb > li {
  position: relative;
}
header > nav > .gnb > li > a {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  padding: 27.5px 20px;
}
@media screen and (max-width: 1280px) {
  header > nav > .gnb > li > a {
    background: url("../images/icon_chevron-right__white.svg") no-repeat 95%/14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media screen and (min-height: 1081px) {
  header > nav > .gnb > li > a {
    padding: 50px 20px;
  }
}
header > nav > .gnb > li > .depth {
  display: none;
  position: absolute;
  height: 100%;
  z-index: 1000;
}
header > nav > .gnb > li > .depth > li {
  width: 210px;
  height: 100%;
}
header > nav > .gnb > li > .depth > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: start;
  padding-left: 20px;
  background-color: #333333;
}
header > nav > .gnb > li > .depth > li > a:hover {
  background: var(--main-color);
}
header > nav > .gnb > li:hover > a {
  background: var(--main-color);
}
header > nav > .gnb > li:hover > .depth {
  display: block;
  top: 0;
  right: 0;
  transform: translateX(100%);
}
header .gnb-btn__wrap {
  height: 10%;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap {
    height: 20%;
  }
}
header .gnb-btn__wrap > form {
  height: 100%;
  width: 100%;
}
header .gnb-btn__wrap > form .gnb-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  gap: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn {
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li {
  position: relative;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li {
    width: 50%;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li > button {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../../images/icon_utill.png") no-repeat 0 0;
  text-indent: -9999em;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li > button {
    margin: 0 auto;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li:nth-child(3) > button {
  background-position-y: -28px;
}
header .gnb-btn__wrap > form .gnb-btn > li:nth-child(5) > button {
  background: url("../../images/sun-mode-2.png") no-repeat 0 0/27px 27px;
}
header .gnb-btn__wrap > form .gnb-btn > li:last-child > button {
  background-position-y: -56px;
}
header .gnb-btn__wrap > form .gnb-btn > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li::after {
    display: none;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li:last-child::after {
  display: none;
}

aside {
  /*TODO:  더보기 목록 확인 */
  display: none;
  position: fixed;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  background: #666666;
}
aside > header {
  top: 0;
  width: 100vw;
  height: 100px;
  flex-direction: row;
  padding: 0 50px;
  position: initial;
}
aside > header > .logo-wrap {
  width: 410px;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
aside > header > .logo-wrap > .logo {
  margin: 0 auto;
  text-indent: -9999em;
}
aside > header > ul {
  flex: 1;
  display: flex;
  align-items: center;
}
aside > header > ul > li {
  flex: 1;
  text-align: center;
  position: relative;
  height: 100%;
  line-height: 100px;
}
aside > header > ul > li:last-child {
  display: flex;
  justify-content: end;
  align-items: center;
}
aside > header > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.333333em;
  font-weight: 700;
}
aside > header > ul > li > button {
  width: 45px;
  height: 45px;
  background: url("../../images/icon_chevron-right__white.svg") no-repeat 1.5px center/30px, url("../../images/icon_chevron-left__white.svg") no-repeat calc(100% - 1.5px) center/30px;
}
aside > main {
  display: flex;
  padding: 0 50px;
}
@media screen and (max-width: 1280px) {
  aside > main {
    /* flex 해제 */
    display: block;
  }
}
@media screen and (max-width: 1280px) {
  aside > main > .mobile-btn-box-wrap {
    /* blind 값 초기화 */
    top: initial;
    position: static;
  }
  aside > main > .mobile-btn-box-wrap .mobile-btn-wrap {
    /* 가로 간격 조정 및 여백 */
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  aside > main > .mobile-btn-box-wrap .mobile-btn-wrap > ul {
    /* 가로 정렬, 여백 조정, 서식 변경 */
    display: flex;
    gap: 20px;
    color: #999;
    font-size: 20px;
  }
  aside > main > .mobile-btn-box-wrap .mobile-btn-wrap > ul > li a.select {
    /* 선택된 텍스트 서식 변경 */
    color: #fff;
  }
  aside > main > .mobile-btn-box-wrap .mobile-btn-wrap > button {
    /* exit button 스타일 */
    display: block;
    width: 30px;
    height: 30px;
    background: url("../../images/icon_chevron-right__white.svg") no-repeat left/22px 30px, url("../../images/icon_chevron-left__white.svg") no-repeat right/22px 30px;
  }
  aside > main > .mobile-btn-box-wrap .search {
    /* 검색 input wrap: 중앙 정렬 및 여백 조절 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  aside > main > .mobile-btn-box-wrap .search > input {
    /* 기본 서식 제거 및 스타일 변경 */
    all: initial;
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px;
    width: 90%;
  }
  aside > main > .mobile-btn-box-wrap .search > a > i {
    /* 검색 아이콘 */
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    background-image: url("../images/icon_utill.png");
    right: 20px;
    bottom: 10px;
  }
}
aside > main > .btn-box-wrap {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 50px;
  padding: 70px;
  padding-left: 0;
}
aside > main > .btn-box-wrap > div {
  background: no-repeat 0px 0;
  border-radius: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  position: relative;
  font-size: 1.333333em;
}
aside > main > .btn-box-wrap > div i {
  display: block;
  background-image: url("../../images/icon_utill.png");
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}
aside > main > .btn-box-wrap > .search {
  padding: 0;
  height: 125px;
  font-weight: 500;
}
aside > main > .btn-box-wrap > .search > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
aside > main > .btn-box-wrap > .search > a > i {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-position: -28px 0;
}
aside > main > .btn-box-wrap .lang {
  flex-wrap: wrap;
}
aside > main > .btn-box-wrap .lang > i {
  background-position: -28px -28px;
}
aside > main > .btn-box-wrap .lang > .lang-wrap {
  width: 100%;
  padding: 10px 30px 0;
}
aside > main > .btn-box-wrap .lang > .lang-wrap button {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 70px;
  text-transform: capitalize;
  position: relative;
  padding-left: 100px;
  text-align: start;
  font-size: 20px;
}
aside > main > .btn-box-wrap .lang > .lang-wrap button > i {
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
aside > main > .btn-box-wrap .lang > .lang-wrap button.check > i {
  background: url("../../images/check.png") no-repeat center/cover;
}
aside > main > .btn-box-wrap .lang > .lang-wrap button:first-of-type {
  background-image: url("../../images/lang-1.png");
}
aside > main > .btn-box-wrap .lang > .lang-wrap button:nth-of-type(2) {
  background-image: url("../../images/lang-2.png");
}
aside > main > .btn-box-wrap .lang > .lang-wrap button:nth-of-type(3) {
  background-image: url("../../images/lang-3.png");
}
aside > main > .btn-box-wrap .lang > .lang-wrap button:last-of-type {
  background-image: url("../../images/lang-4.png");
}
aside > main > .btn-box-wrap > .dark-mode > i {
  background-image: url("../../images/dark-mode.png");
  background-size: cover;
}
aside > main > .btn-box-wrap > .dark-mode > div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
aside > main > .btn-box-wrap > .dark-mode > div > button {
  width: 50px;
}
aside > main > ul {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 1280px) {
  aside > main > ul {
    display: block;
  }
}
aside > main > ul > li {
  flex: 1;
}
@media screen and (max-width: 1280px) {
  aside > main > ul > li .mobile-title {
    top: initial;
    position: initial;
    background: url("../../images/icon_chevron-right__white.svg") no-repeat right/24px;
    font-size: 1.714286em;
    padding: 15px 0;
  }
}
aside > main > ul > li > .depth2-wrap {
  line-height: initial;
  text-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 1280px) {
  aside > main > ul > li > .depth2-wrap {
    display: none;
  }
}
aside > main > ul > li > .depth2-wrap > .depth2 {
  margin-top: 30px;
  padding: 0 20px;
}
aside > main > ul > li > .depth2-wrap > .depth2 > .depth-title {
  font-size: 1.333333em;
  font-weight: 700;
}
aside > main > ul > li > .depth2-wrap > .depth2 > ul {
  margin-top: 10px;
}
aside > main > ul > li > .depth2-wrap > .depth2 > ul > li {
  color: #ccc;
  line-height: 1.5;
  padding-left: 10px;
  position: relative;
}
aside > main > ul > li > .depth2-wrap > .depth2 > ul > li::before {
  content: "-";
  display: inline;
  margin-right: 10px;
}
aside > main > ul > li > .depth2-wrap > .depth2 > ul > li > a {
  transition: 0.3s;
  font-size: 16px;
}
aside > main > ul > li > .depth2-wrap > .depth2 > ul > li > a:hover {
  color: #eee;
  font-weight: 700;
  font-size: 18px;
}
aside > main > ul > li:nth-child(2) > .depth2-wrap {
  text-align: center;
}

/*^ main */
/* header 여백 */
#main {
  margin-left: var(--header-size);
  width: calc(100vw - var(--header-size));
}
#main section {
  /* width: 100%; */
  position: relative;
}

/*^ footer */
footer {
  height: 210px;
  background: #333333;
  position: relative;
  z-index: 500;
}
footer > .inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 75px;
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  footer > .inner {
    margin: 0 auto;
  }
}
footer > .inner > .foot-menu {
  flex: 2;
  padding-right: 75px;
}
footer > .inner > .foot-menu > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
footer > .inner > .foot-menu > ul > li > a:hover {
  text-decoration: underline;
}
footer > .inner > .foot-menu > .call,
footer > .inner > .foot-menu > .copy {
  font-size: 0.777778em;
  color: #999;
  line-height: 1.75;
}
footer > .inner > .foot-menu > .call > a {
  color: #ccc;
}
footer > .inner .foot-link {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
@media screen and (max-width: 1600px) {
  footer > .inner .foot-link {
    gap: 15px;
  }
}
footer > .inner .foot-link > a {
  display: block;
  width: 145px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 0.777778em;
}
footer > .inner .foot-link > a > img {
  display: inline;
}
footer > .inner .foot-site {
  width: 15%;
  margin-left: 50px;
}
footer > .inner .foot-site > strong {
  display: block;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-weight: 500;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
footer > .inner .foot-site > p {
  padding: 0 30px;
  line-height: 1.5;
  white-space: nowrap;
}
footer > .inner .foot-site > p > a {
  font-size: 0.777778em;
}

.hidden {
  display: none;
}

.top-btn {
  display: block;
  width: 70px;
  height: 70px;
  background: #cc0033 url("../../images/icon_chevron-up__white.svg") no-repeat center/50%;
  position: fixed;
  right: 70px;
  bottom: 70px;
  z-index: 100;
  transition: 0.5s;
  opacity: 0;
}

/*^ white mode  */
body.white {
  color: #333;
  background: #eee;
  /*^ header */
  /*^ main */
  /* header 여백 */
  /*^ footer */
}
body.white .translucent {
  color: rgba(0, 0, 0, 0.5);
}
body.white header {
  background-color: #ccc;
  color: #333;
}
body.white header .logo-wrap .logo {
  background-position-y: -35px;
}
body.white header > nav > .gnb > li > .depth > li > a {
  background-color: #ccc;
}
body.white header .gnb-btn__wrap > form .gnb-btn > li > button {
  background-position-x: -27px;
}
body.white header .gnb-btn__wrap > form .gnb-btn > li:nth-child(5) > button {
  background-image: url("../../images/night-mode.png");
  background-position: 0;
}
body.white header .gnb-btn__wrap > form .gnb-btn > li::after {
  background: rgba(0, 0, 0, 0.5);
}
body.white aside {
  /*TODO:  더보기 목록 확인 */
  background: #999;
}
body.white aside > header > ul > li > button {
  background: url("../../images/icon_chevron-right.svg") no-repeat 1.5px center/30px, url("../../images/icon_chevron-left.svg") no-repeat calc(100% - 1.5px) center/30px;
}
body.white aside > main > ul > li > .depth2-wrap > .depth2 {
  color: #333;
}
body.white aside > main > ul > li > .depth2-wrap > .depth2 > ul > li {
  color: #333;
}
body.white aside > main > ul > li > .depth2-wrap > .depth2 > ul > li > a:hover {
  color: #000;
}
body.white footer {
  background: #333333;
  position: relative;
  z-index: 500;
}
body.white footer > .inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 75px;
}
body.white footer > .inner > .foot-menu {
  flex: 2;
  padding-right: 75px;
}
body.white footer > .inner > .foot-menu > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body.white footer > .inner > .foot-menu > ul > li > a:hover {
  text-decoration: underline;
}
body.white footer > .inner > .foot-menu > .call,
body.white footer > .inner > .foot-menu > .copy {
  font-size: 0.777778em;
  color: #999;
  line-height: 1.75;
}
body.white footer > .inner > .foot-menu > .call > a {
  color: #ccc;
}
body.white footer > .inner .foot-link {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
body.white footer > .inner .foot-link > a {
  display: block;
  width: 145px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 0.777778em;
}
body.white footer > .inner .foot-link > a > img {
  display: inline;
}
body.white footer > .inner .foot-site {
  width: 15%;
  margin-left: 50px;
}
body.white footer > .inner .foot-site > strong {
  display: block;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-weight: 500;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
body.white footer > .inner .foot-site > p {
  padding: 0 30px;
  line-height: 1.5;
  white-space: nowrap;
}
body.white footer > .inner .foot-site > p > a {
  font-size: 0.777778em;
}
body.white .hidden {
  display: none;
}
body.white .top-btn {
  display: block;
  width: 70px;
  height: 70px;
  background: #cc0033 url("../../images/icon_chevron-up__white.svg") no-repeat center/50%;
  position: fixed;
  right: 70px;
  bottom: 70px;
  z-index: 100;
  transition: 0.5s;
  opacity: 0;
}