@charset "UTF-8";
/* 기본 변수 값 */
:root {
  --bg: #fff;
  --bg-down: #eee;
  --txt: #000;
  --txt-down: #ccc;
}

/* 다크 모드 변수 값 */
[data-theme=dark] {
  --bg: #000;
  --bg-down: #333;
  --txt: #fff;
  --txt-down: #999;
}

body {
  width: 100%;
  height: initial;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  transition: 0.5s;
  background-color: #fff;
  color: #000;
  /* 서브 제목 */
  /* 본문 */
}
[data-theme=dark] body {
  background-color: var(--bg);
  color: var(--txt);
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
    line-height: 1.2;
  }
}
body .inner {
  max-width: 1710px;
  margin-left: 210px;
}
@media screen and (max-width: 1280px) {
  body .inner {
    width: 95%;
    margin-left: 140px;
  }
}
body section {
  height: 100vh;
}
@media screen and (max-width: 767px) {
  body section {
    height: initial;
  }
}
@media screen and (max-width: 767px) {
  body section > .sec-title::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    background: #cc0033;
    top: 0;
    left: 0px;
  }
}
body .sec-title {
  text-align: center;
  font-size: 2.625em;
}
body .img-box img {
  width: 100%;
  height: 100%;
}
body .translucent {
  color: rgba(0, 0, 0, 0.5);
}
body button.prev,
body button.next {
  cursor: pointer;
}
body .sub-title {
  display: inline-block;
  font-size: 42px;
  padding: 0 0 10px 10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  body .sub-title {
    margin-bottom: 20px;
  }
}
body .sub-title + p {
  width: 70%;
  line-height: 2;
  font-size: 18px;
}
@media screen and (max-width: 1280px) {
  body .sub-title + p {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
  }
}
body .check {
  font-weight: 700;
}

/*^ header */
header {
  display: flex;
  width: 210px;
  height: 100vh;
  position: fixed;
  background-color: #eee;
  color: #000;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
[data-theme=dark] header {
  background-color: var(--bg-down);
  color: var(--txt);
}
@media screen and (max-width: 1280px) {
  header {
    top: 0;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    align-items: center;
  }
}
header .logo-wrap {
  height: 10%;
}
@media screen and (max-width: 1280px) {
  header .logo-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
header .logo-wrap .logo {
  width: 170px;
  height: 35px;
  margin: 35px auto 0;
  background: url("../../images/logo_en.png");
  background-position-y: -35px;
}
[data-theme=dark] header .logo-wrap .logo {
  background-position-y: 0;
}
@media screen and (max-width: 1280px) {
  header .logo-wrap .logo {
    margin: 0;
  }
}
header .logo-wrap .logo > a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
}
header > nav {
  height: 80%;
}
@media screen and (max-width: 1280px) {
  header > nav {
    height: 100%;
    flex: 1;
  }
}
header > nav .gnb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 1280px) {
  header > nav .gnb {
    flex-direction: row;
    padding: 0 30px;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  header > nav .gnb {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  header > nav .gnb:hover > li {
    display: block;
  }
}
header > nav .gnb > li {
  position: relative;
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li {
    flex: 1;
  }
}
header > nav .gnb > li > a {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  padding: 27.5px 20px;
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li > a {
    text-align: center;
    height: 100%;
  }
}
header > nav .gnb > li .depth {
  display: none;
  height: 100%;
  position: absolute;
  z-index: 1000;
}
header > nav .gnb > li .depth > li {
  width: 210px;
  height: 100px;
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li .depth > li {
    width: 100%;
  }
}
header > nav .gnb > li .depth > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: start;
  padding-left: 20px;
  background-color: #eee;
}
[data-theme=dark] header > nav .gnb > li .depth > li > a {
  background-color: var(--bg-down);
  color: var(--txt);
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li .depth > li > a {
    padding: 0;
    justify-content: center;
  }
}
header > nav .gnb > li .depth > li > a:hover {
  background: #d22323;
}
header > nav .gnb > li:hover > a {
  background: #d22323;
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li:hover > a {
    background: none;
  }
}
header > nav .gnb > li:hover .depth {
  display: block;
  top: 0;
  right: 0;
  transform: translateX(100%);
}
@media screen and (max-width: 1280px) {
  header > nav .gnb > li:hover .depth {
    position: absolute;
    top: initial;
    left: 0;
    transform: none;
  }
}
header .gnb-btn__wrap {
  height: 10%;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap {
    height: 100%;
  }
}
header .gnb-btn__wrap > form {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form {
    align-items: center;
  }
}
header .gnb-btn__wrap > form .gnb-btn {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn {
    align-items: center;
    gap: 0px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  header .gnb-btn__wrap > form .gnb-btn {
    gap: 10px;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li {
  position: relative;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li {
    width: 50%;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li > button {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../../images/icon_utill.png") no-repeat 0 0;
  background-position-x: -27px;
  text-indent: -9999em;
}
[data-theme=dark] header .gnb-btn__wrap > form .gnb-btn > li > button {
  background-position-x: 0;
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li > button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  header .gnb-btn__wrap > form .gnb-btn > li:first-child {
    display: none;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li.search {
  position: absolute;
  top: 0;
}
header .gnb-btn__wrap > form .gnb-btn > li.search > div {
  display: flex;
  height: 100%;
}
header .gnb-btn__wrap > form .gnb-btn > li.search > div > input {
  width: 80%;
  border: none;
  border-radius: 20px;
}
[data-theme=dark] header .gnb-btn__wrap > form .gnb-btn > li.search > div > input {
  background-color: #999;
}
header .gnb-btn__wrap > form .gnb-btn > li.search > div > button {
  flex: 1;
  background: url("../../images/icon_submit.png") no-repeat center/cover;
}
[data-theme=dark] header .gnb-btn__wrap > form .gnb-btn > li.search > div > button {
  background-image: url("../../images/icon_submit__white.png");
}
header .gnb-btn__wrap > form .gnb-btn > li.search::after {
  display: none;
}
@media screen and (max-width: 767px) {
  header .gnb-btn__wrap > form .gnb-btn > li:nth-child(3) {
    display: none;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li:nth-child(3) > button {
  background-position-y: -28px;
}
header .gnb-btn__wrap > form .gnb-btn > li.language {
  height: calc(100% - 70px);
  position: absolute;
  top: -40px;
}
header .gnb-btn__wrap > form .gnb-btn > li.language > div {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}
header .gnb-btn__wrap > form .gnb-btn > li.language > div:hover {
  cursor: pointer;
}
header .gnb-btn__wrap > form .gnb-btn > li.language > div > div {
  width: 20%;
}
header .gnb-btn__wrap > form .gnb-btn > li.language > div > div > span {
  opacity: 0.5;
}
header .gnb-btn__wrap > form .gnb-btn > li.language > div > div.active > span {
  opacity: 1;
}
header .gnb-btn__wrap > form .gnb-btn > li.language::after {
  display: none;
}
header .gnb-btn__wrap > form .gnb-btn > li:nth-child(5) > button {
  background: url("../../images/icon_sun-mode.png") no-repeat 0 0/27px 27px;
}
[data-theme=dark] header .gnb-btn__wrap > form .gnb-btn > li:nth-child(5) > button {
  background-image: url("../../images/icon_sun-mode__white.png");
}
header .gnb-btn__wrap > form .gnb-btn > li:last-child > button {
  background-position-y: -56px;
}
header .gnb-btn__wrap > form .gnb-btn > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  header .gnb-btn__wrap > form .gnb-btn > li::after {
    display: none;
  }
}
header .gnb-btn__wrap > form .gnb-btn > li:last-child::after {
  display: none;
}

aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: 1500;
  transition: 0.5s;
  visibility: hidden;
  background-color: #fff;
  color: #000;
}
[data-theme=dark] aside {
  background-color: var(--bg);
  color: var(--txt);
}
aside.open {
  display: block;
  animation: open 0.5s forwards;
}
aside.close {
  display: block;
  animation: close 1s forwards;
}
aside > header {
  width: 100%;
  height: 100px;
  position: initial;
  top: 0;
  flex-direction: row;
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  aside > header {
    display: none;
  }
}
aside > header .logo-wrap {
  display: flex;
  width: 410px;
  height: 100%;
  background-repeat: no-repeat;
  align-items: center;
}
aside > header .logo-wrap .logo {
  margin: 0 auto;
  text-indent: -9999em;
}
aside > header > ul {
  flex: 1;
  display: flex;
  align-items: center;
}
aside > header > ul > li {
  height: 100%;
  position: relative;
  flex: 1;
  text-align: center;
  line-height: 100px;
}
aside > header > ul > li:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
aside > header > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.333333em;
  font-weight: 700;
}
aside > header > ul > li > button {
  width: 45px;
  height: 45px;
  background: url("../../images/icon_chevron-right.svg") no-repeat 1.5px center/30px, url("../../images/icon_chevron-left.svg") no-repeat calc(100% - 1.5px) center/30px;
}
[data-theme=dark] aside > header > ul > li > button {
  background-image: url("../../images/icon_chevron-right__white.svg"), url("../../images/icon_chevron-left__white.svg");
}
aside > main {
  display: flex;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  aside > main {
    /* flex 해제 */
    display: block;
  }
  aside > main .mobile-btn-box-wrap {
    /* blind 값 초기화 */
    top: initial;
    position: static;
  }
  aside > main .mobile-btn-box-wrap .mobile-btn-wrap {
    /* 가로 간격 조정 및 여백 */
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }
  aside > main .mobile-btn-box-wrap .mobile-btn-wrap > ul {
    /* 가로 정렬, 여백 조정, 서식 변경 */
    display: flex;
    gap: 20px;
    color: #999;
    font-size: 20px;
  }
  aside > main .mobile-btn-box-wrap .mobile-btn-wrap > ul > li.select {
    /* 선택된 텍스트 서식 변경 */
    color: #000;
  }
  [data-theme=dark] aside > main .mobile-btn-box-wrap .mobile-btn-wrap > ul > li.select {
    color: #fff;
  }
  aside > main .mobile-btn-box-wrap .mobile-btn-wrap > button {
    /* exit button 스타일 */
    display: block;
    width: 30px;
    height: 30px;
    background: url("../../images/icon_chevron-right.svg") no-repeat left/22px 30px, url("../../images/icon_chevron-left.svg") no-repeat right/22px 30px;
  }
  [data-theme=dark] aside > main .mobile-btn-box-wrap .mobile-btn-wrap > button {
    background-image: url("../../images/icon_chevron-right__white.svg"), url("../../images/icon_chevron-left__white.svg");
  }
  aside > main .mobile-btn-box-wrap .search {
    /* 검색 input wrap: 중앙 정렬 및 여백 조절 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  aside > main .mobile-btn-box-wrap .search > input {
    /* 기본 서식 제거 및 스타일 변경 */
    all: initial;
    width: 90%;
    padding: 0 10px 10px;
    border-bottom: 1px solid #000;
  }
  [data-theme=dark] aside > main .mobile-btn-box-wrap .search > input {
    border-color: #fff;
  }
  aside > main .mobile-btn-box-wrap .search > a > i {
    /* 검색 아이콘 */
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    background-image: url("../../images/icon_utill.png");
    background-position-x: -27px;
    right: 20px;
    bottom: 10px;
  }
  [data-theme=dark] aside > main .mobile-btn-box-wrap .search > a > i {
    background-position-x: 0;
  }
}
aside > main .btn-box-wrap {
  display: flex;
  width: 410px;
  flex-direction: column;
  gap: 50px;
  padding: 70px;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  aside > main .btn-box-wrap {
    display: none;
  }
}
aside > main .btn-box-wrap > div {
  background-color: #eee;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 1.333333em;
}
[data-theme=dark] aside > main .btn-box-wrap > div {
  background-color: var(--bg-down);
  color: var(--txt);
}
aside > main .btn-box-wrap > div i {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../../images/icon_utill.png") no-repeat;
}
[data-theme=dark] aside > main .btn-box-wrap > div i {
  background-position-x: 0px !important;
}
aside > main .btn-box-wrap .search {
  padding: 0;
  height: 125px;
  font-weight: 500;
}
aside > main .btn-box-wrap .search > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
aside > main .btn-box-wrap .search > a > i {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-position-x: -28px;
}
aside > main .btn-box-wrap .lang {
  flex-wrap: wrap;
}
aside > main .btn-box-wrap .lang > i {
  background-position: -28px -28px;
}
aside > main .btn-box-wrap .lang .lang-wrap {
  width: 100%;
  padding: 10px 30px 0;
}
aside > main .btn-box-wrap .lang .lang-wrap button {
  width: 100%;
  height: 70px;
  position: relative;
  background: no-repeat left center/contain;
  text-transform: capitalize;
  padding-left: 100px;
  text-align: start;
  font-size: 20px;
}
aside > main .btn-box-wrap .lang .lang-wrap button > i {
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
aside > main .btn-box-wrap .lang .lang-wrap button.check > i {
  background: url("../../images/icon_check.png") no-repeat center/cover;
}
[data-theme=dark] aside > main .btn-box-wrap .lang .lang-wrap button.check > i {
  background-image: url("../../images/icon_check__white.png");
}
aside > main .btn-box-wrap .lang .lang-wrap button:first-of-type {
  background-image: url("../../images/lang-1.png");
}
aside > main .btn-box-wrap .lang .lang-wrap button:nth-of-type(2) {
  background-image: url("../../images/lang-2.png");
}
aside > main .btn-box-wrap .lang .lang-wrap button:nth-of-type(3) {
  background-image: url("../../images/lang-3.png");
}
aside > main .btn-box-wrap .lang .lang-wrap button:last-of-type {
  background-image: url("../../images/lang-4.png");
}
aside > main .btn-box-wrap .dark-mode > i {
  background-image: url("../../images/icon_dark-mode.png");
  background-size: cover;
}
[data-theme=dark] aside > main .btn-box-wrap .dark-mode > i {
  background-image: url("../../images/icon_dark-mode__white.png");
}
aside > main .btn-box-wrap .dark-mode > div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
aside > main .btn-box-wrap .dark-mode > div > button {
  width: 50px;
  height: 50px;
}
aside > main .btn-box-wrap .dark-mode > div > button.sun-mode {
  background: url("../../images/icon_sun-mode.png") no-repeat 0 0/cover;
}
[data-theme=dark] aside > main .btn-box-wrap .dark-mode > div > button.sun-mode {
  background-image: url("../../images/icon_sun-mode__white.png");
}
aside > main .btn-box-wrap .dark-mode > div > button.night-mode {
  background: url("../../images/icon_night-mode.png") no-repeat 0 0/cover;
}
[data-theme=dark] aside > main .btn-box-wrap .dark-mode > div > button.night-mode {
  background-image: url("../../images/icon_night-mode__white.png");
}
aside > main > ul {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 1280px) {
  aside > main > ul {
    display: block;
  }
}
aside > main > ul > li {
  flex: 1;
}
@media screen and (max-width: 1280px) {
  aside > main > ul > li .mobile-title {
    position: initial;
    background: url("../../images/icon_chevron-right.svg") no-repeat right/24px;
    font-size: 1.714286em;
    padding: 15px 0;
  }
  [data-theme=dark] aside > main > ul > li .mobile-title {
    background-image: url("../../images/icon_chevron-right__white.svg");
  }
}
aside > main > ul > li .depth2-wrap {
  display: flex;
  width: 100%;
  line-height: initial;
  text-align: start;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 1280px) {
  aside > main > ul > li .depth2-wrap {
    display: none;
  }
}
aside > main > ul > li .depth2-wrap .depth2 {
  margin-top: 30px;
  padding: 0 20px;
}
aside > main > ul > li .depth2-wrap .depth2 .depth-title {
  font-size: 1.333333em;
  font-weight: 700;
}
aside > main > ul > li .depth2-wrap .depth2 > ul {
  margin-top: 10px;
}
aside > main > ul > li .depth2-wrap .depth2 > ul > li {
  position: relative;
  padding-left: 10px;
  color: #999;
}
[data-theme=dark] aside > main > ul > li .depth2-wrap .depth2 > ul > li {
  color: #ccc;
}
aside > main > ul > li .depth2-wrap .depth2 > ul > li::before {
  content: "-";
  display: inline;
  margin-right: 10px;
}
aside > main > ul > li .depth2-wrap .depth2 > ul > li > a {
  transition: 0.3s;
  font-size: 16px;
}
aside > main > ul > li .depth2-wrap .depth2 > ul > li > a:hover {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
[data-theme=dark] aside > main > ul > li .depth2-wrap .depth2 > ul > li > a:hover {
  color: #eee;
}
aside > main > ul > li:nth-child(2) .depth2-wrap {
  text-align: center;
}

/*^ main */
/* header 여백 */
#main {
  margin-left: 210px;
  width: calc(100vw - 210px);
}
@media screen and (max-width: 1280px) {
  #main {
    margin-left: 0;
    width: 100%;
  }
}
#main section {
  position: relative;
}
@media screen and (max-width: 767px) {
  #main section {
    width: 95%;
    margin: 0 auto 50px auto;
  }
}

/*^ footer */
footer {
  height: 210px;
  position: relative;
  background-color: #eee;
  z-index: 500;
}
[data-theme=dark] footer {
  background-color: var(--bg-down);
  color: var(--txt);
}
@media screen and (max-width: 767px) {
  footer {
    height: initial;
  }
}
footer .inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 75px;
  max-width: calc(100% - 210px);
}
@media screen and (max-width: 1280px) {
  footer .inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  footer .inner {
    /* 여백 조정, 세로, 왼쪽 정렬 */
    display: grid;
    padding: 0;
    margin: 0 auto;
    max-width: 95%;
    align-items: flex-start;
    justify-content: flex-start;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  footer .inner > div {
    /* 세로 정렬 */
    display: flex;
    flex-direction: column;
  }
}
footer .inner .foot-menu {
  padding-right: 75px;
}
@media screen and (max-width: 1280px) {
  footer .inner .foot-menu {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu {
    padding: 0;
    order: 1;
  }
}
footer .inner .foot-menu > ul {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu > ul {
    flex-direction: column;
    margin: 20px 0 10px;
    font-size: 14px;
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu > ul > li {
    margin: 10px 0;
  }
}
footer .inner .foot-menu > ul > li > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu > ul > li:last-child {
    display: none;
  }
}
footer .inner .foot-menu .call {
  color: #000;
  font-size: 0.777778em;
  line-height: 1.75;
}
[data-theme=dark] footer .inner .foot-menu .call {
  background-color: var(--bg-down);
  color: var(--txt);
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu .call {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
footer .inner .foot-menu .call > a {
  color: #999;
}
footer .inner .foot-menu .copy {
  font-size: 0.777778em;
  color: #999;
  line-height: 1.75;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-menu .copy {
    font-size: 10px;
    line-height: 2.5;
  }
}
footer .inner .foot-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
@media screen and (max-width: 1280px) {
  footer .inner .foot-link {
    flex: 1;
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .foot-link {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0;
    order: 3;
    grid-column: span 2;
  }
}
footer .inner .foot-link > a {
  display: block;
  width: 145px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  background-color: #999;
  color: #fff;
  border-radius: 50px;
  font-size: 0.777778em;
}
[data-theme=dark] footer .inner .foot-link > a {
  background-color: var(--bg);
  color: var(--txt);
}
footer .inner .foot-link > a > img {
  display: inline;
}
footer .inner .foot-site {
  width: 15%;
  margin-left: 50px;
}
@media screen and (max-width: 1280px) {
  footer .inner .foot-site {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .foot-site {
    margin: 20px 0 0;
    font-size: 14px;
    width: 100%;
    order: 2;
  }
}
footer .inner .foot-site > strong {
  display: block;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
[data-theme=dark] footer .inner .foot-site > strong {
  border-color: #fff;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-site > strong {
    text-align: left;
    padding-left: 20px;
  }
}
footer .inner .foot-site > p {
  padding: 0 30px;
  line-height: 1.5;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-site > p {
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
  }
}
footer .inner .foot-site > p > a {
  font-size: 0.777778em;
  color: #333;
}
[data-theme=dark] footer .inner .foot-site > p > a {
  color: #999;
}
@media screen and (max-width: 767px) {
  footer .inner .foot-site > p > a {
    padding: 0 40px;
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

.top-btn {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  background: #cc0033 url("../../images/icon_chevron-up__white.svg") no-repeat center/50%;
  right: 70px;
  bottom: 70px;
  z-index: 100;
  transition: 0.5s;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .top-btn {
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
  }
}

@keyframes open {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes close {
  from {
    opacity: 1;
    visibility: visible;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
  }
}