@charset "UTF-8";
:root {
  --main-color: #d22323;
  --header-size: 210px;
}

.--inner {
  width: 90%;
  margin: 0 auto;
}

.--img-white {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg) brightness(111%) contrast(101%);
}

::-webkit-scrollbar {
  width: 0;
}

/* 애니메이션 */
@keyframes move__ani {
  from {
    bottom: 2%;
  }
  80% {
    bottom: 3%;
  }
  to {
    bottom: 3%;
  }
}
/* 전체화면 */
.main-banner {
  position: relative;
  overflow: hidden;
  /* 배너 목록 너비 */
  /* 배너 텍스트 */
}
@media screen and (max-width: 1280px) {
  .main-banner {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .main-banner {
    width: 100%;
    height: 100vh;
  }
}
.main-banner > ul {
  display: flex;
  width: 100%;
  height: 100%;
  /* 배너 목록 */
  /* 배너 이미지 */
}
.main-banner > ul > li {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  position: absolute;
  transition: 0.5s;
  left: 0;
  top: 0;
}
.main-banner > ul > .bg-1 {
  display: flex;
  background: url("../../images/main-banner_1.jpg") no-repeat 0/cover;
}
.main-banner > ul > .bg-2 {
  background: url("../../images/main-banner_2.jpeg") no-repeat center/cover;
}
.main-banner > ul > .bg-3 {
  background: #000 url("../../images/main-banner_3.jpg") no-repeat 0px 100px/cover;
}
.main-banner > ul > .bg-4 {
  background: url("../../images/main-banner_4.jpg") no-repeat 0/cover;
}
.main-banner .text-box {
  width: 80%;
  /* 배너 제목 */
}
.main-banner .text-box > h2 {
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 0 0 10px #000;
}
@media screen and (max-width: 767px) {
  .main-banner .text-box > h2 {
    margin-bottom: 20px;
    line-height: 1;
  }
}
.main-banner .text-box > p {
  /* 배너 부제목 */
  font-size: 1.5em;
  text-shadow: 0 0 10px #000;
}
.main-banner .slide-wrap {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 20px;
  z-index: 500;
}
@media screen and (max-width: 767px) {
  .main-banner .slide-wrap {
    /* 위치 조정 */
    display: none;
  }
}
.main-banner .main-down {
  /* 하단 알림이 */
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 25px;
  background: url("../../images/top-btn.png") no-repeat;
  animation: move__ani 1s ease-out infinite alternate;
  z-index: 500;
}
@media screen and (max-width: 1280px) {
  .main-banner .main-down {
    width: 40px;
    height: 40px;
    transform: none;
    left: initial;
    right: 30px;
    bottom: 30px;
    animation: none;
    background-image: url("../../images/icon_chevron-down.svg");
    background-color: #fff;
    background-size: 50%;
    background-position: center;
  }
}
.main-banner .pager {
  display: none;
  position: absolute;
  top: initial;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .main-banner .pager {
    display: flex;
  }
}
.main-banner .pager > div {
  /* 크기 및 스타일 */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #cccccc;
}
.main-banner .pager > div.select {
  /* 선택된 페이지 색상 */
  background: #fff;
}

.slide-btn {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* 슬라이드 버튼 크기 */
  /* 슬라이드 순서 */
}
.slide-btn > button {
  display: block;
  width: 32px;
  height: 52px;
  /* 시작,종료 버튼 크기 */
  /* 상태 이미지 */
}
@media screen and (max-width: 1280px) {
  .slide-btn > button {
    display: none;
  }
}
.slide-btn > button.prev {
  background: url("../../images/icon_chevron-left__white.svg") no-repeat center/70%;
}
.slide-btn > button.next {
  background: url("../../images/icon_chevron-right__white.svg") no-repeat center/70%;
}
.slide-btn > button.slide-btn-ps {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
@media screen and (max-width: 1280px) {
  .slide-btn > button.slide-btn-ps {
    /* 버튼 배경 */
    display: none;
  }
}
.slide-btn > button.start {
  background: rgba(0, 0, 0, 0.5) url("../../images/pause.png") no-repeat center/60%;
}
.slide-btn > button.stop {
  background: rgba(0, 0, 0, 0.5) url("../../images/play_arrow.png") no-repeat center/80%;
}
.slide-btn > p {
  color: #ccc;
  margin: 0 5px;
  font-size: 1.5em;
  font-weight: thin;
  /* 활성화된 배너 순서 */
}
.slide-btn > p#selected-page {
  color: #fff;
  font-weight: 600;
}

/** product */
/* 섹션 타이틀 */
.product {
  /* 목록 */
}
@media screen and (max-width: 767px) {
  .product .mobile-sec-title {
    top: initial;
    margin-top: 20px;
    /* 서브 타이틀 여백 조정 */
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
  }
}
@media screen and (max-width: 767px) {
  .product .mobile-sec-title::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    background: #cc0033;
    top: 0;
    left: 0px;
  }
}
.product .sec-title {
  padding-top: 60px;
  margin: 0 0 60px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1280px) {
  .product .sec-title {
    font-size: 25px;
    text-shadow: none;
  }
}
@media screen and (max-width: 767px) {
  .product .sec-title {
    display: none;
  }
}
.product > ul {
  display: flex;
  position: relative;
  /* 너비 위치 조정 */
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  /* 목록 분할 */
}
@media screen and (max-width: 767px) {
  .product > ul {
    width: 100%;
    flex-direction: column;
  }
}
.product > ul > li {
  width: 20%;
  /* 타이틀 본문 */
}
@media screen and (max-width: 767px) {
  .product > ul > li {
    margin: 0 auto 30px auto;
    width: 95%;
  }
}
.product > ul > li > button {
  font-size: 1.375em;
  padding-bottom: 10px;
  border-bottom: 7px solid #666666;
  display: block;
  width: 100%;
  height: 100%;
  color: #ccc;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .product > ul > li > button {
    display: none;
  }
}
.product > ul > li > button:hover {
  color: #fff;
  border-bottom: 7px solid #fff;
}
.product > ul > li.product__tv > ul > li {
  /* product tv 배경 */
  background: url("../../images/product-bg-1.jpg") no-repeat center/cover;
}
.product > ul > li.product__tv > ul > li .text-box-wrap {
  text-align: end;
}
.product > ul > li.product__tv > ul > li .text-box-wrap .text-box {
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .product > ul > li.product__tv > ul > li .text-box-wrap .text-box {
    align-items: flex-start;
  }
}
.product > ul > li.product__tv > ul > li .text-box-wrap .text-box .more-btn {
  left: initial;
  right: 0;
}
.product > ul > li.product__commercial > ul > li {
  background: url("../../images/product-bg-2.jpg") no-repeat right center/cover;
}
.product > ul > li.product__it > ul > li {
  background: url("../../images/product-bg-3.jpg") no-repeat center/cover;
}
.product > ul > li.product__it > ul > li .text-box-wrap {
  text-align: end;
}
.product > ul > li.product__it > ul > li .text-box-wrap .text-box {
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .product > ul > li.product__it > ul > li .text-box-wrap .text-box {
    align-items: flex-start;
  }
}
.product > ul > li.product__it > ul > li .text-box-wrap .text-box .more-btn {
  left: initial;
  right: 0;
}
.product > ul > li.product__mobile > ul > li {
  background: url("../../images/product-bg-4.jpg") no-repeat center/cover;
}
.product > ul > li.product__automotive > ul > li {
  background: url("../../images/product-bg-5.jpg") no-repeat center/cover;
}
.product > ul > li > ul {
  text-align: start;
  left: 0;
  position: absolute;
  top: 50px;
  height: 65vh;
  width: 100%;
  /* 목록 내용 이미지, 텍스트 정렬 */
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul {
    display: block;
    height: initial;
    position: static;
  }
}
.product > ul > li > ul.active {
  z-index: 100;
}
.product > ul > li > ul > li {
  display: flex;
  padding: 60px 80px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 80px 80px;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li {
    padding: 0 0 20px;
    height: 170px;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: none !important;
  }
}
.product > ul > li > ul > li > div {
  position: relative;
  z-index: 30;
}
.product > ul > li > ul > li > div.text-box-wrap {
  display: flex;
  margin: 0 60px;
  width: 40%;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.text-box-wrap {
    margin: 0 10px 0 0;
    width: initial;
    flex: 1;
    align-items: start;
  }
}
.product > ul > li > ul > li > div.text-box-wrap .text-box {
  display: inline-flex;
  flex: 1;
  position: relative;
  word-break: keep-all;
  padding: 60px 0 40px;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.text-box-wrap .text-box {
    padding: 0;
    flex: 1;
    text-align: start;
    align-items: flex-start;
  }
}
.product > ul > li > ul > li > div.text-box-wrap .text-box .sub-title {
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.text-box-wrap .text-box .sub-title {
    padding: 0;
    border: none;
    font-size: 16px;
  }
}
.product > ul > li > ul > li > div.text-box-wrap .more-btn {
  transition: all 0.5s;
  width: 210px;
  height: 60px;
  background-color: #999;
  color: #000;
  text-align: center;
  line-height: 60px;
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.text-box-wrap .more-btn {
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    border-radius: 30px;
    background: #eee;
  }
}
.product > ul > li > ul > li > div.text-box-wrap .more-btn:hover {
  background: #fff;
}
.product > ul > li > ul > li > div.img-box {
  flex: 1;
  border: 2px solid #fff;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.img-box {
    flex: none;
    order: 2;
    width: 40%;
    border: none;
  }
}
.product > ul > li > ul > li > div.img-box > a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.img-box > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.product > ul > li > ul > li > div.img-box > a > img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li > div.img-box > a > img {
    width: 100%;
  }
}
.product > ul > li > ul > li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767px) {
  .product > ul > li > ul > li::after {
    display: none;
  }
}

/** tehonology */
/** OLED */
.technology-oled {
  background: url("../../images/technology-1.jpg") no-repeat -100px 0/120%;
}
@media screen and (max-width: 767px) {
  .technology-oled {
    margin-bottom: 100px;
    background: none;
  }
}
.technology-oled .sec-title {
  padding: 100px 100px 50px;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .technology-oled .sec-title {
    /* 서브 타이틀 여백 조정 */
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
  }
}
.technology-oled .text-box {
  position: absolute;
  left: 50%;
  bottom: 160px;
  text-align: center;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .technology-oled .text-box {
    display: flex;
    position: static;
    flex-direction: column;
    transform: none;
  }
}
.technology-oled .text-box > strong {
  display: block;
  margin-bottom: 60px;
  font-size: 1.375em;
}
@media screen and (max-width: 767px) {
  .technology-oled .text-box > strong {
    /* 여백 제거, 단어 유지 */
    margin: 0;
    word-break: keep-all;
    text-align: start;
    font-weight: 500;
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .technology-oled .text-box > img {
    order: 3;
  }
}
@media screen and (max-width: 767px) {
  .technology-oled .text-box > img.blind {
    width: 100%;
    height: 300px;
    position: static;
    top: initial;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.technology-oled .text-box > p {
  width: 60%;
  margin: 0 auto;
  word-break: keep-all;
}
@media screen and (max-width: 767px) {
  .technology-oled .text-box > p {
    width: 100%;
    order: 2;
    margin: 10px 0;
    text-align: start;
    color: #bbb;
  }
}

.technology-oled2 {
  background: url("../../images/technology-1.jpg") no-repeat -100px -100vh/120%;
  padding: 140px 65px;
}
@media screen and (max-width: 767px) {
  .technology-oled2 {
    display: none;
  }
}
.technology-oled2 > ul {
  position: relative;
  height: 100%;
}
.technology-oled2 > ul > li {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li {
    flex-direction: column;
    top: 0;
    transform: translate(-50%, 0);
    height: 100%;
  }
}
.technology-oled2 > ul > li.card-1 {
  z-index: 50;
}
.technology-oled2 > ul > li.card-1 .img-box {
  transform: perspective(300px);
}
.technology-oled2 > ul > li.card-2 {
  z-index: 20;
}
.technology-oled2 > ul > li.card-2 .img-box {
  transform: perspective(300px) translateX(400px) translateZ(-100px) rotateY(30deg);
}
.technology-oled2 > ul > li.card-3 {
  z-index: 10;
}
.technology-oled2 > ul > li.card-3 .img-box {
  transform: perspective(300px) translateX(400px) translateZ(-300px) rotateY(150deg);
}
.technology-oled2 > ul > li.card-4 .img-box {
  transform: perspective(300px) translateZ(-400px) rotateY(180deg);
}
.technology-oled2 > ul > li.card-5 {
  z-index: 10;
}
.technology-oled2 > ul > li.card-5 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-300px) rotateY(-90deg);
}
.technology-oled2 > ul > li.card-6 {
  z-index: 20;
}
.technology-oled2 > ul > li.card-6 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-100px) rotateY(-30deg);
}
.technology-oled2 > ul > li:first-child .text-box {
  background: url("../../images/oled-1.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li:nth-child(2) .text-box {
  background: url("../../images/oled-2.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li:nth-child(3) .text-box {
  background: url("../../images/oled-3.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li:nth-child(4) .text-box {
  background: url("../../images/oled-4.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li:nth-child(5) .text-box {
  background: url("../../images/oled-5.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li:last-child .text-box {
  background: url("../../images/oled-6.jpg") no-repeat center 100%/cover;
}
.technology-oled2 > ul > li > div {
  position: relative;
}
.technology-oled2 > ul > li > div.img-box-wrap {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.img-box-wrap {
    margin-bottom: 0;
  }
}
.technology-oled2 > ul > li > div.img-box-wrap > .img-box {
  display: inline-block;
  text-align: center;
  transition: 1s;
}
.technology-oled2 > ul > li > div.img-box-wrap > .img-box img {
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 #666;
  width: 350px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 31px;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.img-box-wrap > .img-box img {
    width: 250px;
    height: 250px;
  }
}
.technology-oled2 > ul > li > div.img-box-wrap > .img-box strong {
  display: block;
  font-size: 1.75rem;
}
.technology-oled2 > ul > li > div.text-box {
  width: 675px;
  flex: 1;
  margin-left: 65px;
  z-index: 50;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.text-box {
    width: 100%;
    flex: 1;
    margin: 0;
    background: none;
  }
}
.technology-oled2 > ul > li > div.text-box > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 140px 40px;
  word-break: keep-all;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.text-box > a {
    padding: 40px;
    position: relative;
  }
}
.technology-oled2 > ul > li > div.text-box > a .sub-title {
  font-size: 2.111111em;
  text-shadow: 0 0 5px #000;
  letter-spacing: -0.5px;
  padding: 0;
  margin-bottom: 100px;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.text-box > a .sub-title {
    margin-bottom: 50px;
  }
}
.technology-oled2 > ul > li > div.text-box > a p {
  text-shadow: 0 0 5px #000;
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.text-box > a p {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1280px) {
  .technology-oled2 > ul > li > div.text-box > a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.7;
  }
}
.technology-oled2 .slide-btn {
  width: 40%;
  gap: 0;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: none;
  z-index: 90;
}

.technology-lcd {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .technology-lcd {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .technology-lcd .sec-title {
    /* 서브 타이틀 여백 조정 */
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
  }
}
.technology-lcd .img-wrap {
  flex: 1;
  background: url("../../images/technology-2.jpg") no-repeat center 70%/150%;
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap {
    background: none;
  }
}
.technology-lcd .img-wrap .text-box {
  position: absolute;
  left: 50%;
  bottom: 160px;
  text-align: center;
  transform: translateX(-50%);
}
@media screen and (max-width: 1280px) {
  .technology-lcd .img-wrap .text-box {
    bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap .text-box {
    display: flex;
    position: static;
    flex-direction: column;
    transform: none;
  }
}
.technology-lcd .img-wrap .text-box > strong {
  display: block;
  margin-bottom: 60px;
  font-size: 1.375em;
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap .text-box > strong {
    /* 여백 제거, 단어 유지 */
    margin: 0;
    word-break: keep-all;
    text-align: start;
    font-weight: 500;
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap .text-box > img {
    order: 3;
  }
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap .text-box > img.blind {
    width: 100%;
    height: 300px;
    position: static;
    top: initial;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.technology-lcd .img-wrap .text-box > p {
  width: 60%;
  margin: 0 auto;
  word-break: keep-all;
}
@media screen and (max-width: 1280px) {
  .technology-lcd .img-wrap .text-box > p {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .technology-lcd .img-wrap .text-box > p {
    order: 2;
    margin: 10px 0;
    text-align: start;
    color: #bbb;
  }
}

.technology-lcd2 {
  padding: calc((100vh - 720px) / 2) 0;
}
@media screen and (max-width: 767px) {
  .technology-lcd2 {
    display: none;
  }
}
.technology-lcd2 .overflow {
  width: 85%;
  height: 720px;
  margin: 0 auto;
  overflow: hidden;
}
.technology-lcd2 .overflow > ul {
  display: flex;
  width: 400%;
  height: 100%;
}
.technology-lcd2 .overflow > ul > li {
  width: 25%;
}
.technology-lcd2 .overflow > ul > li:first-child {
  background: url("../../images/lcd-1.png") no-repeat center/contain;
}
.technology-lcd2 .overflow > ul > li:first-child > a {
  justify-content: flex-end;
}
.technology-lcd2 .overflow > ul > li:last-child {
  background: url("../../images/lcd-1.png") no-repeat center/contain;
}
.technology-lcd2 .overflow > ul > li:nth-child(2) {
  background: url("../../images/lcd-2.jpg") no-repeat 0/cover;
}
.technology-lcd2 .overflow > ul > li:nth-child(3) {
  background: url("../../images/lcd-3.jpg") no-repeat 100% 0/cover;
}
.technology-lcd2 .overflow > ul > li:nth-child(4) {
  background: url("../../images/lcd-4.jpg") no-repeat 100% 0/cover;
}
.technology-lcd2 .overflow > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.technology-lcd2 .overflow > ul > li > a .text-box {
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  word-break: keep-all;
}
.technology-lcd2 .overflow > ul > li > a .text-box::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(252, 252, 252, 0) 74%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.technology-lcd2 .overflow > ul > li > a .text-box .sub-title {
  font-size: 2.111111em;
  text-shadow: 0 0 5px #000;
  letter-spacing: -0.5px;
  padding: 0;
  position: relative;
  z-index: 20;
}
.technology-lcd2 .overflow > ul > li > a .text-box > p {
  position: relative;
  z-index: 20;
  width: 100%;
  text-shadow: 0 0 20px #000;
  word-break: keep-all;
}
.technology-lcd2 .slide-btn {
  width: 40%;
  gap: 0;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: none;
  z-index: 90;
  width: 100%;
  left: 0;
  padding: 0 40px;
}
.technology-lcd2 .slide-bar {
  position: relative;
  width: 70%;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  height: 7px;
  background: #666666;
  overflow: hidden;
}

/** ESG */
.esg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: initial;
  transition: 1s;
}
@media screen and (max-width: 767px) {
  .esg {
    display: none;
  }
}
.esg > h2 {
  margin: 100px 0;
}
.esg > div {
  flex: 1;
}
.esg > ul {
  display: flex;
  width: 100%;
  flex: 1;
}
.esg > ul > li {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.esg > ul > li > div {
  text-align: center;
}
.esg > ul > li > div > button {
  display: block;
  width: 100%;
  height: 100%;
}
.esg > ul > li > div > button > img {
  width: 70px;
  filter: invert(67%) sepia(5%) saturate(7%) hue-rotate(331deg) brightness(89%) contrast(93%);
  margin: 0 auto;
  margin-bottom: 50px;
  transition: 0.5s;
}
.esg > ul > li > div > button > span {
  color: #999;
  font-size: 1.555556em;
  transition: 0.5s;
}
.esg > ul > li > div:hover > button > img {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg) brightness(111%) contrast(101%);
}
.esg > ul > li > div:hover > button > span {
  color: #fff;
}
.esg > ul > li.active > div > button > img {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg) brightness(111%) contrast(101%);
}
.esg > ul > li.active > div > button > span {
  color: #fff;
}
.esg article {
  display: none;
  width: 90%;
  padding: 100px 0 50px;
  position: absolute;
  bottom: 0;
}
.esg article.active {
  display: flex;
  position: relative;
  height: 600px;
}
.esg .env {
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .esg .env {
    overflow: hidden;
  }
}
.esg .env > table {
  width: 47%;
}
@media screen and (max-width: 1600px) {
  .esg .env > table {
    width: 100%;
  }
}
.esg .env > table .sub-title {
  margin: 0;
}
.esg .env > table > tbody > tr > th {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 28px;
}
.esg .env > table > tbody > tr > th > img {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .esg .env > table > tbody > tr > th > img {
    width: 50%;
  }
}
.esg .env > table > tbody > tr > td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 25px;
}
@media screen and (max-width: 1600px) {
  .esg .env > table > tbody > tr > td {
    padding: 5px 10px;
  }
}
.esg .env > table > tbody > tr > td > img {
  width: 30px;
  margin: 0 auto;
}
.esg .env > table > tbody > tr:first-child th {
  border: none;
}
.esg .env .chart {
  width: 47%;
  position: relative;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1600px) {
  .esg .env .chart {
    width: 100%;
  }
}
.esg .env .chart > p {
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.esg .env .chart .number {
  display: flex;
  flex-direction: column;
}
.esg .env .chart .number > li {
  display: flex;
  justify-content: space-between;
  text-align: end;
}
.esg .env .chart .number > li:nth-child(7) {
  margin-bottom: 10px;
}
.esg .env .chart .number > li > p {
  width: 10%;
  margin-right: 10px;
  line-height: 2.5;
  font-size: 16px;
}
.esg .env .chart .number > li > div {
  flex: 1;
  font-size: 0.555556em;
  border-bottom: 1px solid #ccc;
  position: relative;
  bottom: 22.5px;
  line-height: 45px;
}
.esg .env .chart .number > li .chart-bar {
  display: flex;
  width: 85%;
  position: absolute;
  bottom: -25px;
  left: 15%;
  text-align: center;
}
.esg .env .chart .number > li .chart-bar > li {
  display: flex;
  width: 33.3333333333%;
  flex-direction: column-reverse;
}
.esg .env .chart .number > li .chart-bar > li > ul {
  display: flex;
}
.esg .env .chart .number > li .chart-bar > li > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.esg .env .chart .number > li .chart-bar > li > ul > li > p {
  font-size: 16px;
}
.esg .env .chart .number > li .chart-bar > li > ul > li > div {
  width: 30px;
  margin-top: 10px;
}
.esg .env .chart .number > li .chart-bar > li:first-child > ul > li:first-child > div {
  background: #cc6666;
  height: 180px;
}
.esg .env .chart .number > li .chart-bar > li:first-child > ul > li:nth-child(2) > div {
  background: #cc0066;
  height: 145px;
}
.esg .env .chart .number > li .chart-bar > li:first-child > ul > li:last-child > div {
  background: #666666;
  height: 130px;
}
.esg .env .chart .number > li .chart-bar > li:nth-child(2) > ul > li:first-child > div {
  background: #cc6666;
  height: 215px;
}
.esg .env .chart .number > li .chart-bar > li:nth-child(2) > ul > li:nth-child(2) > div {
  background: #cc0066;
  height: 40px;
}
.esg .env .chart .number > li .chart-bar > li:nth-child(2) > ul > li:last-child > div {
  background: #666666;
  height: 215px;
}
.esg .env .chart .number > li .chart-bar > li:last-child > ul > li:first-child > div {
  background: #cc6666;
  height: 240px;
}
.esg .env .chart .number > li .chart-bar > li:last-child > ul > li:nth-child(2) > div {
  background: #cc0066;
  height: 38px;
}
.esg .env .chart .number > li .chart-bar > li:last-child > ul > li:last-child > div {
  background: #666666;
  height: 90px;
}
.esg .env .chart .chart-legend {
  display: flex;
  width: 80%;
  position: absolute;
  justify-content: center;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
.esg .env .chart .chart-legend > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 200;
}
.esg .env .chart .chart-legend > div:first-child > div {
  background: #cc6666;
}
.esg .env .chart .chart-legend > div:nth-child(2) > div {
  background: #cc0066;
}
.esg .env .chart .chart-legend > div:last-child > div {
  background: #666666;
}
.esg .env .chart .chart-legend > div .chart-legend__color {
  width: 10px;
  height: 10px;
}
.esg .social > div {
  text-align: center;
  flex: 1;
}
.esg .social__left > ul > li {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 0.888889em;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.esg .social__right > div {
  display: flex;
  flex-wrap: wrap;
}
.esg .social__right > div > a {
  font-size: 1.777778em;
  display: block;
  width: 50%;
  margin-bottom: 90px;
}
.esg .gover > table {
  width: 100%;
  text-align: center;
}
.esg .gover > table > caption {
  text-align: start;
}
.esg .gover > table > caption .sub-title {
  margin-bottom: 0;
}
.esg .gover > table > tbody tr {
  padding: 15px 0;
  border: 1px solid;
}
.esg .gover > table > tbody tr > * {
  background-color: #ccc;
  color: #000;
  border-color: #fff;
}
.esg .gover > table > tbody tr > th {
  font-size: 1.444444em;
  background-color: #999;
  color: #fff;
  width: 16.6666666667%;
}
.esg .gover > table > tbody tr > td:first-child {
  background-color: #999;
  color: #fff;
}

/** Latest News */
@media screen and (max-width: 1280px) {
  .latest-news {
    height: initial;
  }
}
.latest-news .sec-title {
  padding: 60px 0 0;
}
@media screen and (max-width: 767px) {
  .latest-news .sec-title {
    /* 서브 타이틀 여백 조정 */
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
  }
}
.latest-news > div {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .latest-news > div {
    width: 100%;
    padding: 0 10px;
  }
}
.latest-news > div:first-of-type {
  margin-top: 90px;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .latest-news > div:first-of-type {
    margin: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .latest-news > div:last-of-type .text-box .news__title > p {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .latest-news > div:last-of-type .text-box > p:first-of-type {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .latest-news > div:last-of-type .text-box > p:last-of-type {
    display: none;
  }
}
.latest-news > div > a {
  margin-right: 110px;
}
@media screen and (max-width: 767px) {
  .latest-news > div > a {
    margin-right: 20px;
  }
}
.latest-news > div > a > img {
  width: 480px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .latest-news > div > a > img {
    width: 150px;
    height: 150px;
  }
}
.latest-news > div .text-box {
  flex: 1;
}
.latest-news > div .text-box .news__title > p {
  display: inline-block;
  width: 80%;
  font-size: 1.444444em;
  font-weight: 500;
  word-break: keep-all;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .latest-news > div .text-box .news__title > p {
    /* 줄바꿈, 서식 변경 */
    font-size: 16px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    margin: 0;
    word-break: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
@media screen and (max-width: 767px) {
  .latest-news > div .text-box .news__title > p > a {
    /* a 크기 조정 */
    display: block;
  }
}
.latest-news > div .text-box .news__title .date {
  float: right;
}
@media screen and (max-width: 767px) {
  .latest-news > div .text-box .news__title .date {
    float: none;
    margin-bottom: 20px;
  }
}
.latest-news > div .text-box > p {
  margin-bottom: 25px;
  font-size: 0.777778em;
  word-break: keep-all;
  color: #ccc;
}
@media screen and (max-width: 767px) {
  .latest-news > div .text-box > p {
    margin: 20px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
  }
}