/* mobile */
@media screen and (max-width: 768px) {
  /** oled & lcd */
  /* 여백 조정 */
  .technology-oled {
    margin-bottom: 100px;
  }
  .technology-lcd {
    display: block;
  }
  /* 배경 제거 */
  .technology-oled,
  .technology-oled2,
  .technology-lcd > .img-wrap {
    background: none;
  }
  /* 텍스트 정렬 */
  /* .technology-lcd > .sec-title {
    position: absolute;
    top: 0;
  } */
  /* 이미지: blind 값 초기화, 여백 조정, 높이 지정 */
  .technology-oled .blind,
  .technology-lcd .blind {
    position: static;
    top: initial;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
  }
  /* 서브 타이틀 여백 조정 */
  .technology-oled > .sec-title,
  .technology-lcd > .sec-title,
  .latest-news > .sec-title,
  .product > .mobile-sec-title {
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    display: inline-block;
  }
  section > .sec-title::after,
  section > .mobile-sec-title::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #cc0033;
    position: absolute;
    /* border-radius: 50%; */
    top: 0;
    left: 0px;
  }
  /* 여백 제거, 단어 유지 */
  .technology-oled > .text-box > strong,
  .technology-lcd > .img-wrap > .text-box > strong {
    margin: 0;
    word-break: keep-all;
    text-align: start;
    font-weight: 500;
  }
  /* 여백 조정 */
  .technology-lcd > .img-wrap > .text-box > strong {
    /* padding-left: 110px; */
  }
  /* 지정 너비 초기화 */
  .technology-oled > .text-box > p,
  .technology-lcd > .img-wrap > .text-box > p {
    width: 100%;
  }
  .technology-oled > .text-box,
  .technology-lcd .text-box {
    display: flex;
    flex-direction: column;
  }
  .technology-oled > .text-box > strong,
  .technology-lcd .text-box > strong {
    order: 1;
  }
  .technology-oled > .text-box > p,
  .technology-lcd .text-box > p {
    order: 2;
    margin: 10px 0;
    text-align: start;
    color: #bbb;
  }
  .technology-oled > .text-box > img,
  .technology-lcd .text-box > img {
    order: 3;
  }
  /* absolute 제거, X값 translate 이동 제거 */
  .technology-oled > .text-box,
  .technology-lcd > .img-wrap > .text-box {
    position: static;
    transform: none;
  }
  /** latest news */
  /* 지정 너비 초기화, 여백 조정 */
  .latest-news > div {
    width: 100%;
    padding: 0 10px;
  }
  /* 여백 조정 */
  .latest-news > div:first-of-type {
    margin: 50px 0;
  }
  /* 여백 조정 */
  .latest-news > div > a {
    margin-right: 20px;
  }
  /* 이미지 크기 지정 */
  .latest-news > div > a > img {
    width: 150px;
    height: 150px;
  }
  /* 줄바꿈, 서식 변경 */
  .latest-news > div > .text-box > .news__title > p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    width: 100%;
    margin: 0;
    word-break: normal;
  }
  /* a 크기 조정 */
  .latest-news > div > .text-box > .news__title > p > a {
    display: block;
  }
  /* 줄바꿈 */
  .latest-news > div > .text-box > p {
    margin: 20px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
  }
  /* 날짜 위치 변경 */
  .latest-news > div > .text-box > .news__title > .date {
    float: none;
    margin-bottom: 20px;
  }
  /** footer */
  /* 지정 높이 제거 */
  footer {
    height: initial;
  }
  /* 여백 조정, 세로, 왼쪽 정렬 */
  footer > .inner {
    display: grid;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    align-items: flex-start;
    grid-template-columns: 2fr 1fr;
  }
  /* 세로 정렬 */
  footer > .inner > div {
    display: flex;
    flex-direction: column;
  }
  /* 순서 변경, 여백 제거 */
  .foot-menu {
    padding: 0;
    order: 1;
  }
  /* 세로 정렬, 여백 조정 */
  .foot-menu > ul {
    flex-direction: column;
    margin: 20px 0 10px;
    font-size: 14px;
  }
  /* 여백 조정 */
  .foot-menu > ul > li {
    margin: 10px 0;
  }
  .foot-menu > .call {
    margin-bottom: 10px;
    font-size: 10px;
  }
  .foot-menu > .copy {
    font-size: 10px;
    line-height: 2.5;
  }
  /* 순서 변경, 위치 변경 */
  .foot-site {
    margin: 20px 0 0;
    font-size: 14px;
    width: 100%;
    order: 2;
  }
  /* 텍스트 정렬, 여백 조정 */
  .foot-site > strong {
    text-align: left;
    padding-left: 20px;
  }
  .foot-site > p {
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
  }
  .foot-site > p > a {
    padding: 0 40px;
    font-size: 12px;
    color: #ccc;
  }
  /* 순서 변경, 정렬, 여백 조정 */
  footer > .inner > .foot-link {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0;
    order: 3;
    grid-column: span 2;
  }
  /** top btn */
  .top-btn {
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
  }
}
