@media screen and (min-width: 1921px) and (max-width: 2560px) {
  footer > .inner {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1600px) {
  body {
    font-size: 16px;
  }
  .env {
    overflow: hidden;
  }
  .env th > img {
    width: 50%;
  }
  .env td {
    padding: 5px 10px;
  }
  .env table,
  .env .chart {
    width: 100%;
  }
  .foot-link {
    gap: 15px;
  }
}
/* 태블릿 */
@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  .gnb-btn > li::after,
  .slide-btn,
  .slide-btn-ps {
    display: none;
  }
  /*^ 공통 */
  /* 고정 너비 삭제 */
  .inner {
    width: 95%;
    margin-left: calc(var(--header-size) / 1.5);
  }
  /* 여백 조정 */
  .sub-title {
    margin-bottom: 20px;
  }
  /* 고정 너비 삭제, 서식 변경 */
  .sub-title + p {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
  }
  /*^ header */
  header {
    top: 0;
    width: calc(var(--header-size) / 1.5);
  }
  .logo {
    width: 140px;
    height: 25px;
    background-size: cover;
  }
  header > nav:first-of-type {
    height: 70%;
  }
  .gnb > li > a {
    background: url("../images/icon_chevron-right__white.svg") no-repeat 95% /
      14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .gnb-btn__wrap {
    height: 20%;
  }
  .gnb-btn {
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }
  .gnb-btn > li {
    width: 50%;
  }
  .gnb-btn > li > button {
    margin: 0 auto;
  }
  /*^ asdie */
  /* sitemap 더보기란 */
  /* aside {
    display: block;
  } */
  /* flex 해제 */
  aside > main {
    display: block;
  }
  /* blind 값 초기화 */
  aside > main > .mobile-btn-box-wrap {
    top: initial;
    position: static;
  }
  /* 가로 간격 조정 및 여백 */
  aside > main > .mobile-btn-box-wrap > .mobile-btn-wrap {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  /* 가로 정렬, 여백 조정, 서식 변경 */
  aside > main > .mobile-btn-box-wrap > .mobile-btn-wrap ul {
    display: flex;
    gap: 20px;
    color: #999;
    font-size: 20px;
  }
  /* 선택된 텍스트 서식 변경 */
  aside > main > .mobile-btn-box-wrap > .mobile-btn-wrap ul > li > a.select {
    color: #fff;
  }
  /* exit button 스타일 */
  aside > main > .mobile-btn-box-wrap > .mobile-btn-wrap button {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/icon_chevron-right__white.svg") no-repeat left /
        22px 30px,
      url("../images/icon_chevron-left__white.svg") no-repeat right / 22px 30px;
  }
  /* 검색 input wrap: 중앙 정렬 및 여백 조절 */
  aside > main > .mobile-btn-box-wrap .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* 기본 서식 제거 및 스타일 변경 */
  aside > main > .mobile-btn-box-wrap .search > input {
    all: unset;
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px;
    width: 90%;
  }
  /* 검색 아이콘 */
  aside > main > .mobile-btn-box-wrap .search > a > i {
    margin-left: 20px;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url("../images/icon_utill.png");
    right: 20px;
    bottom: 10px;
  }
  /* flex 해제 */
  aside > main > ul {
    display: block;
  }
  /* blind 값 제거, 서식 변경 */
  aside > main > ul > li > .mobile-title {
    top: initial;
    position: initial;
    background: url("../images/icon_chevron-right__white.svg") no-repeat right /
      24px;
    font-size: 1.714286em;
    padding: 15px 0;
  }
  /* depth 숨기기 */
  aside > main > ul > li > .depth2-wrap {
    display: none;
  }
  /* aside > main > ul > .aside__product > .depth2-wrap {
    display: block;
  } */

  /* aside > main > ul > li > .depth2-wrap > .depth2 > ul {
    display: none;
  } */
  /*^ main */
  #main {
    margin-left: calc(var(--header-size) / 1.5);
    width: calc(100vw - (var(--header-size) / 1.5));
  }
  .main-banner {
    height: 100vh;
  }
  .gnb > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* 애니메이션 제거, 크기, 위치 조정 */
  .main-down {
    transform: none;
    left: initial;
    right: 30px;
    bottom: 30px;
    animation: none;
    background-image: url("../images/icon_chevron-down.svg");
    background-color: #fff;
    background-size: 50%;
    background-position: center;
    width: 40px;
    height: 40px;
  }
  /* 선택 표시자 */
  .pager {
    display: flex;
  }
  /** product */
  .product > .sec-title {
    font-size: 25px;
    text-shadow: none;
  }
  /** technology */
  .technology-oled2 {
    padding: 0 65px;
  }
  .technology-oled2 > ul > li {
    flex-direction: column;
    top: 0;
    transform: translate(-50%, 0);
    height: 100%;
  }
  .technology-oled2 > ul > li > .img-box-wrap {
    margin-bottom: 0px;
  }
  .technology-oled2 > ul > li > .img-box-wrap > .img-box img {
    width: 250px;
    height: 250px;
  }
  .technology-oled2 > ul > .card-1 .img-box {
    transform: perspective(300px);
  }
  .technology-oled2 > ul > .card-2 .img-box {
    transform: perspective(300px) translateX(300px) translateZ(-100px)
      rotateY(30deg);
  }
  .technology-oled2 > ul > .card-3 .img-box {
    transform: perspective(300px) translateX(300px) translateZ(-300px)
      rotateY(150deg);
  }
  .technology-oled2 > ul > .card-4 .img-box {
    transform: perspective(300px) translateZ(-300px) rotateY(180deg);
  }
  .technology-oled2 > ul > .card-5 .img-box {
    transform: perspective(300px) translateX(-300px) translateZ(-300px)
      rotateY(-90deg);
  }
  .technology-oled2 > ul > .card-6 .img-box {
    transform: perspective(300px) translateX(-300px) translateZ(-100px)
      rotateY(-30deg);
  }
  .technology-oled2 > ul > li > .text-box > a {
    padding: 40px;
    position: relative;
  }
  .technology-oled2 > ul > li > .text-box > a > * {
    position: relative;
    z-index: 10;
  }
  .technology-oled2 > ul > li > .text-box > a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.7;
  }
  .technology-oled2 > ul > .card-1 .text-box,
  .technology-oled2 > ul > .card-2 .text-box,
  .technology-oled2 > ul > .card-3 .text-box,
  .technology-oled2 > ul > .card-4 .text-box,
  .technology-oled2 > ul > .card-5 .text-box,
  .technology-oled2 > ul > .card-6 .text-box {
    width: 100%;
    flex: 1;
    margin: 0;
    background: none;
  }
  .technology-oled2 > ul > .card-1 .text-box > a::after {
    background: url("../images/oled-1.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > .card-2 .text-box > a::after {
    background: url("../images/oled-2.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > .card-3 .text-box > a::after {
    background: url("../images/oled-3.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > .card-4 .text-box > a::after {
    background: url("../images/oled-4.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > .card-5 .text-box > a::after {
    background: url("../images/oled-5.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > .card-6 .text-box > a::after {
    background: url("../images/oled-6-2.jpg") no-repeat center / cover;
  }
  .technology-oled2 > ul > li > .text-box .sub-title {
    margin-bottom: 50px;
  }
  .technology-oled2 > ul > li > .text-box .sub-title + p {
    font-size: 16px;
    line-height: 1.5;
  }
  .technology-lcd > .img-wrap > .text-box {
    bottom: 50px;
  }
  .technology-lcd > .img-wrap > .text-box > p {
    width: 100%;
  }
  .latest-news {
    height: initial;
  }
  footer > .inner {
    width: calc(100vw - (var(--header-size) / 1.5));
    padding: 0 35px;
  }
  .foot-link {
    gap: 20px;
  }
  .foot-link > a {
    width: 100px;
    padding: 0 10px;
  }
  .foot-site > p {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1280px) and (orientation: portrait) {
  .gnb,
  .gnb-btn > li:first-child,
  .gnb-btn > li:nth-child(3),
  .gnb-btn > li::after,
  .foot-menu > ul > li:last-child {
    display: none;
  }
  /* 세로 header를 가로로 이동 */
  header {
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0 20px;
  }
  /* 여백 제거 */
  .logo {
    margin: 0;
  }
  /* 지정 높이 제거 */
  header .logo-wrap,
  .gnb-btn__wrap {
    height: 100%;
  }
  /* 로고 중앙 정렬 */
  header .logo-wrap {
    display: flex;
    align-items: center;
  }
  .gnb-btn {
    flex-wrap: nowrap;
    padding-bottom: 0;
    gap: 10px;
  }
  #main {
    margin-top: 100px;
    margin-left: 0;
    width: 100%;
  }
  .latest-news > div:last-child {
    margin-bottom: 50px;
  }
  .latest-news > div > a {
    margin-right: 50px;
  }
  .latest-news > div > a > img {
    width: 300px;
  }
  footer > .inner {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .foot-menu > ul {
    font-size: 20px;
  }
  .foot-menu > .call,
  .foot-menu > .copy {
    font-size: 14px;
  }
  .foot-link {
    order: 3;
    grid-column: span 2;
  }
  .foot-link > a {
    width: 150px;
  }
  .foot-site {
    width: 100%;
    margin-left: 0;
    font-size: 18px;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
    line-height: 1.2;
  }

  .gnb,
  .gnb-btn > li:first-child,
  .gnb-btn > li:nth-child(3),
  .gnb-btn > li::after,
  .slide-wrap,
  aside > header,
  aside > main > .btn-box-wrap,
  .product > .sec-title,
  .product > ul > li > a,
  .product > ul > li > ul > li::after,
  .technology-oled2,
  .technology-lcd2,
  .latest-news > div:last-of-type > .text-box > p:first-of-type,
  .latest-news > div:last-of-type > .text-box > p:last-of-type,
  .esg,
  .foot-menu > ul > li:last-child {
    display: none;
  }
  /* 고정 높이 삭제, 여백 조정 */
  section {
    height: initial;
  }
  /*^ header */
  /* 세로 header를 가로로 이동 */
  header {
    flex-direction: row;
    top: 0;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
  }
  /* 여백 제거 */
  .logo {
    margin: 0;
  }
  /* 지정 높이 제거 */
  header .logo-wrap,
  .gnb-btn__wrap {
    height: 100%;
  }
  /* 로고 중앙 정렬 */
  header .logo-wrap {
    display: flex;
    align-items: center;
  }
  /*^ main */
  /* 중앙 정렬, 고정 너비 초기화 */
  #main {
    margin: 0;
    width: 100%;
  }
  #main section {
    width: 95%;
    margin: 0 auto 50px auto;
  }
  /** main banner */
  /* 전체 화면 */
  #main .main-banner {
    height: 100vh;
    width: 100%;
  }
  /* 타이틀 줄간격, 여백 추가 */
  .main-banner .text-box > h2 {
    margin-bottom: 20px;
    line-height: 1;
  }
  /** product */
  /* 크기 및 스타일 */
  .product > .mobile-sec-title {
    top: initial;
    /* position: static; */
    font-size: 20px;
    margin: 20px 0 40px;
  }
  /* 너비 초기화 */
  .product > ul {
    width: 100%;
  }
  /* 세로 정렬 */
  .product > ul {
    flex-direction: column;
  }
  /* 너비 초기화, 높이 지정, 여백 제거 */
  .product .more-btn {
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    border-radius: 30px;
    background: #eee;
  }
  /* 너비, 여백 조정 */
  .product > ul > li {
    margin: 0 auto 30px auto;
    width: 95%;
  }
  /* flex 해제, absolute 해제 */
  .product > ul > li > ul {
    display: block;
    position: static;
    height: initial;
  }
  /* 여백 제거, 높이 지정 */
  .product > ul > li > ul > li {
    padding: 0 0 20px;
    height: 170px;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    border-radius: 0;
  }

  /* 순서 변경 */
  .product .img-box {
    flex: none;
    order: 2;
    width: 40%;
    border: none;
  }
  .product .img-box > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .product .img-box img {
    width: 100%;
    /* height: initial; */
    object-fit: cover;
  }
  /* 여백 제거, 텍스트 정렬 */
  .product .text-box-wrap > .text-box {
    padding: 0;
    flex: 1;
    text-align: start;
    align-items: flex-start;
  }
  /* 배경 제거 */
  .product .product__tv > ul > li,
  .product .product__commercial > ul > li,
  .product .product__it > ul > li,
  .product .product__mobile > ul > li,
  .product .product__automotive > ul > li {
    background: none;
  }
  /* 여백 조정 */
  .product .text-box-wrap {
    margin: 0 10px 0 0;
    width: initial;
    flex: 1;
    align-items: start;
  }
  /* 서브 타이틀 서식 변경 */
  .product .text-box-wrap > .text-box > .sub-title {
    padding: 0;
    border: none;
    font-size: 16px;
  }
  /** oled & lcd */
  /* 여백 조정 */
  .technology-oled {
    margin-bottom: 100px;
  }
  .technology-lcd {
    display: block;
  }
  /* 배경 제거 */
  .technology-oled,
  .technology-oled2,
  .technology-lcd > .img-wrap {
    background: none;
  }
  /* 텍스트 정렬 */
  /* .technology-lcd > .sec-title {
    position: absolute;
    top: 0;
  } */
  /* 이미지: blind 값 초기화, 여백 조정, 높이 지정 */
  .technology-oled .blind,
  .technology-lcd .blind {
    position: static;
    top: initial;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
  }
  /* 서브 타이틀 여백 조정 */
  .technology-oled > .sec-title,
  .technology-lcd > .sec-title,
  .latest-news > .sec-title,
  .product > .mobile-sec-title {
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    display: inline-block;
  }
  section > .sec-title::after,
  section > .mobile-sec-title::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #cc0033;
    position: absolute;
    /* border-radius: 50%; */
    top: 0;
    left: 0px;
  }
  /* 여백 제거, 단어 유지 */
  .technology-oled > .text-box > strong,
  .technology-lcd > .img-wrap > .text-box > strong {
    margin: 0;
    word-break: keep-all;
    text-align: start;
    font-weight: 500;
  }
  /* 여백 조정 */
  .technology-lcd > .img-wrap > .text-box > strong {
    /* padding-left: 110px; */
  }
  /* 지정 너비 초기화 */
  .technology-oled > .text-box > p,
  .technology-lcd > .img-wrap > .text-box > p {
    width: 100%;
  }
  .technology-oled > .text-box,
  .technology-lcd .text-box {
    display: flex;
    flex-direction: column;
  }
  .technology-oled > .text-box > strong,
  .technology-lcd .text-box > strong {
    order: 1;
  }
  .technology-oled > .text-box > p,
  .technology-lcd .text-box > p {
    order: 2;
    margin: 10px 0;
    text-align: start;
    color: #bbb;
  }
  .technology-oled > .text-box > img,
  .technology-lcd .text-box > img {
    order: 3;
  }
  /* absolute 제거, X값 translate 이동 제거 */
  .technology-oled > .text-box,
  .technology-lcd > .img-wrap > .text-box {
    position: static;
    transform: none;
  }
  /** latest news */
  /* 지정 너비 초기화, 여백 조정 */
  .latest-news > div {
    width: 100%;
    padding: 0 10px;
  }
  /* 여백 조정 */
  .latest-news > div:first-of-type {
    margin: 50px 0;
  }
  /* 여백 조정 */
  .latest-news > div > a {
    margin-right: 20px;
  }
  /* 이미지 크기 지정 */
  .latest-news > div > a > img {
    width: 150px;
    height: 150px;
  }
  /* 줄바꿈, 서식 변경 */
  .latest-news > div > .text-box > .news__title > p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    width: 100%;
    margin: 0;
    word-break: normal;
  }
  /* a 크기 조정 */
  .latest-news > div > .text-box > .news__title > p > a {
    display: block;
  }
  /* 줄바꿈 */
  .latest-news > div > .text-box > p {
    margin: 20px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
  }
  /* 날짜 위치 변경 */
  .latest-news > div > .text-box > .news__title > .date {
    float: none;
    margin-bottom: 20px;
  }
  /** footer */
  /* 지정 높이 제거 */
  footer {
    height: initial;
  }
  /* 여백 조정, 세로, 왼쪽 정렬 */
  footer > .inner {
    display: grid;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    align-items: flex-start;
    grid-template-columns: 2fr 1fr;
  }
  /* 세로 정렬 */
  footer > .inner > div {
    display: flex;
    flex-direction: column;
  }
  /* 순서 변경, 여백 제거 */
  .foot-menu {
    padding: 0;
    order: 1;
  }
  /* 세로 정렬, 여백 조정 */
  .foot-menu > ul {
    flex-direction: column;
    margin: 20px 0 10px;
    font-size: 14px;
  }
  /* 여백 조정 */
  .foot-menu > ul > li {
    margin: 10px 0;
  }
  .foot-menu > .call {
    margin-bottom: 10px;
    font-size: 10px;
  }
  .foot-menu > .copy {
    font-size: 10px;
    line-height: 2.5;
  }
  /* 순서 변경, 위치 변경 */
  .foot-site {
    margin: 20px 0 0;
    font-size: 14px;
    width: 100%;
    order: 2;
  }
  /* 텍스트 정렬, 여백 조정 */
  .foot-site > strong {
    text-align: left;
    padding-left: 20px;
  }
  .foot-site > p {
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
  }
  .foot-site > p > a {
    padding: 0 40px;
    font-size: 12px;
    color: #ccc;
  }
  /* 순서 변경, 정렬, 여백 조정 */
  footer > .inner > .foot-link {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0;
    order: 3;
    grid-column: span 2;
  }
  /** top btn */
  .top-btn {
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
  }
}
