@import url("./variables.css");

body {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  /* display: flex; */
  width: 100%;
  color: #fff;
  background: #000;
}

.inner {
  width: 1710px;
  margin-left: 210px;
  background-color: rgba(255, 0, 0, 0.5);
}
.hidden {
  display: none;
}
section {
  height: 100vh;
}
section:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.3);
}
section:nth-child(2n + 1) {
  background-color: rgba(0, 255, 0, 0.3);
}
.sec-title {
  text-align: center;
  font-size: 2.625em;
  text-shadow: 0 0 50px #fff;
}
.text-align-end {
  text-align: end;
  align-items: end;
}
.img-box > img {
  width: 100%;
  height: 100%;
}
.translucent {
  color: rgba(255, 255, 255, 0.5);
}
button.prev,
button.next {
  cursor: pointer;
}
/*^ header */
/* header 너비,높이 고정 */
header {
  width: var(--header-size);
  height: 100vh;
  position: fixed;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  bottom: 0;
  left: 0;
}
header .logo-wrap {
  height: 10%;
}
/* 로고 */
header .logo {
  margin: 35px auto 0;
  width: 170px;
  height: 35px;
  background: url("../images/logo_en.png") 0 0;
  text-indent: -9999em;
}
/* 라이트 모드 로고 */
.logo-wrap .light {
  background-position: 0 -35px;
}
header > nav:first-of-type {
  height: 80%;
}

.gnb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* gnb 스타일 */
.gnb > li > a {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 27.5px 20px;
}
/* gnb hover 색상 변경 */
.gnb > li > a:hover {
  background-color: var(--main-color);
}
.gnb-btn__wrap {
  height: 10%;
  display: flex;
  align-items: flex-end;
}
/* 버튼 wrap 너비 */
.gnb-btn__wrap > form {
  height: 100%;
  width: 100%;
}
/* 버튼 위치 정렬 */
.gnb-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  gap: 20px;
  padding-bottom: 20px;
}
.gnb-btn > li {
  position: relative;
  z-index: 100;
}
/* 버튼 스프라이트 이미지 */
.gnb-btn > li > button {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../images/icon_utill.png") no-repeat 0 0;
  text-indent: -9999em;
}
/* 이미지 위치 수정 */
.gnb-btn > li:nth-child(3) > button {
  background-position-y: -28px;
}
.gnb-btn > li:nth-child(5) > button {
  background: url("../images/sun-white.png") no-repeat 0 0 / 27px 27px;
}
.gnb-btn > li:last-child > button {
  background-position-y: -56px;
}
/* 버튼 사이 실선 */
.gnb-btn > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
/* 마지막 li after 제거 */
.gnb-btn > li:last-child::after {
  display: none;
}
/* 라이트 모드 버튼 */
.gnb-btn__wrap .light > li:first-child > button {
  background-position: -28px 0;
}
.gnb-btn__wrap .light > li:nth-child(2) > button {
  background-position: -28px -28px;
}
.gnb-btn__wrap .light > li:nth-child(3) > button {
  background: url("../images/sun.png") no-repeat 0 0 / 27px 27px;
}
.gnb-btn__wrap .light > li:last-child > button {
  background-position: -28px -56px;
}
/*^ aside */
aside {
  display: none;
}
/*^ main */
/* header 여백 */
#main {
  margin-left: 210px;
  width: 100%;
}
/* header를 제외한 영역 */
#main section {
  width: calc(100vw - 210px);
  position: relative;
}
/** 배너 */
/* 전체화면 */
.main-banner {
  position: relative;
}
/* 배너 목록 너비 */
.main-banner > ul {
  display: flex;
  width: 400%;
  height: 100%;
}
/* 배너 목록 */
.main-banner > ul > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 배너 이미지 */
.main-banner > ul > li:first-child {
  background: url("../images/main-banner_1.jpg") no-repeat 0 / cover;
}
.main-banner > ul > li:nth-child(2) {
  background: url("../images/main-banner_2.jpeg") no-repeat center / cover;
}
.main-banner > ul > li:nth-child(3) {
  background: #000 url("../images/main-banner_3.jpg") no-repeat 0px 100px /
    cover;
}
.main-banner > ul > li:last-child {
  background: url("../images/main-banner_4.jpg") no-repeat 0 / cover;
}
/* 배너 텍스트 */
.main-banner .text-box {
  width: 80%;
}
/* 배너 제목 */
.main-banner .text-box > h2 {
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 0 0 10px #000;
}
/* 배너 부제목 */
.main-banner .text-box > p {
  font-size: 1.5em;
  text-shadow: 0 0 10px #000;
}
/** 슬라이드 버튼 */
/* 위치 조정 */
.slide-wrap {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 20px;
}
/* 버튼 배경 */
.slide-btn {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  gap: 5px;
}
/* 슬라이드 버튼 크기 */
.slide-btn > button {
  display: block;
  width: 32px;
  height: 52px;
}
/* 슬라이드 순서 */
.slide-btn > p {
  color: #ccc;
  margin: 0 5px;
  font-size: 1.5em;
  font-weight: thin;
}
/* 활성화된 배너 순서 */
.slide-btn > p#selected-page {
  color: #fff;
  font-weight: 600;
}
/* 이미지 */
.slide-btn > button.prev {
  background: url("../images/chevron_left.png") no-repeat center / cover;
}
.slide-btn > button.next {
  background: url("../images/chevron_right.png") no-repeat center / cover;
}
/* 시작,종료 버튼 크기 */
.slide-btn-ps {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
/* 상태 이미지 */
.start {
  background: rgba(0, 0, 0, 0.5) url("../images/pause.png") no-repeat center /
    70%;
}
.stop {
  background: rgba(0, 0, 0, 0.5) url("../images/play_arrow.png") no-repeat
    center / 80%;
}
/* 하단 알림이 */
.main-down {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 25px;
  background: url("../images/top-btn.png") no-repeat;
  animation: move__ani 1s ease-out infinite alternate;
}
/* 애니메이션 */
@keyframes move__ani {
  from {
    bottom: 2%;
  }
  80% {
    bottom: 3%;
  }
  to {
    bottom: 3%;
  }
}
/** product */
/* 섹션 타이틀 */
.product > .sec-title {
  padding-top: 60px;
  margin: 0 0 60px;
}
/* 목록 */
.product > ul {
  display: flex;
  position: relative;
}
/* 목록 분할 */
.product > ul > li {
  width: calc(1510px / 5);
  padding-bottom: 10px;
  border-bottom: 7px solid #666666;
}
.product > ul > li > a:target {
  border-bottom-style: #fff;
}
.product > ul > li > a {
  font-size: 1.375em;
}
/* 타이틀 본문 */
.product > ul > li > ul {
  display: none;
  text-align: start;
  left: 0;
  position: absolute;
  top: 50px;
  height: calc(100vh - 35vh);
  width: 100%;
}
/* 목록 내용 이미지, 텍스트 정렬 */
.product > ul > li > ul > li {
  display: flex;
  padding: 60px 80px;
  position: relative;
}
.product > ul > li > ul > li > div {
  position: relative;
  z-index: 30;
}
.product > ul > li > ul > li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.product .text-box-wrap {
  display: flex;
  margin: 0 60px;
  width: 40%;
  flex-direction: column;
}
.product .text-box {
  display: inline-flex;
  flex: 1;
  position: relative;
  word-break: keep-all;
  padding: 60px 0 40px;
  flex-direction: column;
  align-items: flex-start;
}
.product .text-align-end > .text-box {
  align-items: flex-end;
}
/* 서브 제목 */
.product .text-box .sub-title {
  display: inline-block;
  font-size: 2.625em;
  border-bottom: 2px solid #fff;
  padding: 0 0 10px 10px;
  margin-bottom: 50px;
}
/* 본문 */
.product .text-box .sub-title + p {
  width: 70%;
  line-height: 2;
  font-size: 18px;
}
.product .more-btn {
  width: 210px;
  height: 60px;
  background: #999999;
  color: #000;
  text-align: center;
  line-height: 60px;
  margin: 30px 0;
}
.product .text-align-end .text-box .more-btn {
  left: initial;
  right: 0;
}
.product .img-box {
  flex: 1;
  border: 2px solid #fff;
}
.product .img-box > img {
  object-fit: cover;
}
/* 너비 위치 조정 */
.product > ul {
  width: 1510px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* TV 활성화 */
.product .product__tv > ul {
  /* display: block; */
}
.product .product__commercial > ul {
  /* display: block; */
}
.product .product__it > ul {
  /* display: block; */
}
.product .product__mobile > ul {
  /* display: block; */
}
.product .product__automotive > ul {
  display: block;
}
.product li > ul > li {
  width: 100%;
  height: 100%;
  border-radius: 0 0 80px 80px;
}
/* product tv 배경 */
.product .product__tv > ul > li {
  background: url("../images/product-bg-1.jpg") no-repeat center / cover;
}
.product .product__commercial > ul > li {
  background: url("../images/product-bg-2.jpg") no-repeat center / cover;
}
.product .product__it > ul > li {
  background: url("../images/product-bg-3.jpg") no-repeat center / cover;
}
.product .product__mobile > ul > li {
  background: url("../images/product-bg-4.jpg") no-repeat center / cover;
}
.product .product__automotive > ul > li {
  background: url("../images/product-bg-5.jpg") no-repeat center / cover;
}
/** tehonology */
.technology-oled {
  background: url("../images/technology-1.jpg") no-repeat -100px 0 / 120%;
}
.technology-oled > .sec-title {
  padding: 100px;
  text-align: start;
}
.technology-oled > .text-box {
  position: absolute;
  left: 50%;
  bottom: 160px;
  text-align: center;
  transform: translateX(-50%);
}
.technology-oled > .text-box > strong {
  display: block;
  margin-bottom: 60px;
  font-size: 1.375rem;
}
.technology-oled > .text-box > p {
  width: 80%;
  margin: 0 auto;
}
.technology-oled2 {
  background: url("../images/technology-1.jpg") no-repeat -100px -920px / 120%;
  padding: 140px 65px;
}
.technology-oled2 > ul {
  position: relative;
  height: 100%;
}
.technology-oled2 > ul > li {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
}
.technology-oled2 > ul > li > div {
  position: relative;
}
.technology-oled2 > ul > .card-1 {
  z-index: 50;
}
.technology-oled2 > ul > .card-2 {
  z-index: 20;
}
.technology-oled2 > ul > .card-3 {
  z-index: 10;
}
.technology-oled2 > ul > .card-4 {
}
.technology-oled2 > ul > .card-5 {
  z-index: 10;
}
.technology-oled2 > ul > .card-6 {
  z-index: 20;
}
.technology-oled2 > ul > li > .img-box-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology-oled2 > ul > li .img-box {
  display: inline-block;
  text-align: center;
}
. .technology-oled2 > ul > .card-1 .img-box {
  transform: perspective(300px);
}
.technology-oled2 > ul > .card-2 .img-box {
  transform: perspective(300px) translateX(380px) translateZ(-100px)
    rotateY(30deg);
}
.technology-oled2 > ul > .card-3 .img-box {
  transform: perspective(300px) translateX(380px) translateZ(-250px)
    rotateY(170deg);
}
.technology-oled2 > ul > .card-4 .img-box {
  transform: perspective(300px) translateZ(-300px) rotateY(-180deg);
}
.technology-oled2 > ul > .card-5 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-250px)
    rotateY(190deg);
}
.technology-oled2 > ul > .card-6 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-100px)
    rotateY(330deg);
}
.technology-oled2 > ul > li > .img-box-wrap > .img-box img {
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 #666;
  width: 350px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 31px;
}
.technology-oled2 > ul > li > .img-box > strong {
  display: block;
  font-size: 1.75rem;
}
.technology-oled2 > ul > li > .text-box {
  width: 675px;
  visibility: hidden;
}
.technology-oled2 > ul > .card-1 .text-box {
  z-index: 50;
  visibility: visible;
}
.technology-oled2 > ul > .card-1 .text-box {
  background: url("../images/oled-1.jpg") no-repeat center 100% / cover;
}
.technology-oled2 > ul > .card-2 .text-box {
  background: url("../images/oled-2.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-3 .text-box {
  background: url("../images/oled-3.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-4 .text-box {
  background: url("../images/oled-4.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-5 .text-box {
  background: url("../images/oled-5.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-6 .text-box {
  background: url("../images/oled-6-2.jpg") no-repeat center 0 / cover;
}
.technology-oled2 > ul > li > .text-box > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 140px 40px;
  word-break: keep-all;
}
.technology-oled2 > ul > li > .text-box .sub-title {
  font-size: 2.375rem;
  margin-bottom: 100px;
  text-shadow: 0 0 5px #000;
  letter-spacing: -0.5px;
}
.technology-oled2 > ul > li > .text-box .sub-title + p {
  line-height: 1.5;
  text-shadow: 0 0 5px #000;
}
.technology-oled2 > .slide-btn {
  width: 50%;
  gap: 0;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  z-index: 100;
}
.slide-bar {
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: 140px;
  transform: translateX(-100%);
  height: 7px;
  background: #666666;
}
/*^ footer */

/*^ media query */
@media screen and (min-height: 1081px) {
  .gnb > li > a {
    padding: 50px 20px;
  }
}
