@import url("./variables.css");
::-webkit-scrollbar {
  width: 0;
}
/** 배너 */
/* 전체화면 */
.main-banner {
  position: relative;
}
/* 배너 목록 너비 */
.main-banner > ul {
  display: flex;
  width: 400%;
  height: 100%;
}
/* 배너 목록 */
.main-banner > ul > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
  position: relative;
  transition: 0.5s;
}
/* 배너 이미지 */
.main-banner > ul > .bg-1 {
  background: url("../images/main-banner_1.jpg") no-repeat 0 / cover;
}
.main-banner > ul > .bg-2 {
  background: url("../images/main-banner_2.jpeg") no-repeat center / cover;
}
.main-banner > ul > .bg-3 {
  background: #000 url("../images/main-banner_3.jpg") no-repeat 0px 100px /
    cover;
}
.main-banner > ul > .bg-4 {
  background: url("../images/main-banner_4.jpg") no-repeat 0 / cover;
}
/* 배너 텍스트 */
.main-banner .text-box {
  width: 80%;
}
/* 배너 제목 */
.main-banner .text-box > h2 {
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 0 0 10px #000;
}
/* 배너 부제목 */
.main-banner .text-box > p {
  font-size: 1.5em;
  text-shadow: 0 0 10px #000;
}
/** 슬라이드 버튼 */
/* 위치 조정 */
.slide-wrap {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 20px;
  z-index: 500;
}
/* 버튼 배경 */
.slide-btn {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  gap: 5px;
}
/* 슬라이드 버튼 크기 */
.slide-btn > button {
  display: block;
  width: 32px;
  height: 52px;
}
/* 슬라이드 순서 */
.slide-btn > p {
  color: #ccc;
  margin: 0 5px;
  font-size: 1.5em;
  font-weight: thin;
}
/* 활성화된 배너 순서 */
.slide-btn > p#selected-page {
  color: #fff;
  font-weight: 600;
}
/* 이미지 */
.slide-btn > button.prev {
  background: url("../images/icon_chevron-left__white.svg") no-repeat center /
    70%;
}
.slide-btn > button.next {
  background: url("../images/icon_chevron-right__white.svg") no-repeat center /
    70%;
}
/* 시작,종료 버튼 크기 */
.slide-btn-ps {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
/* 상태 이미지 */
.start {
  background: rgba(0, 0, 0, 0.5) url("../images/pause.png") no-repeat center /
    60%;
}
.stop {
  background: rgba(0, 0, 0, 0.5) url("../images/play_arrow.png") no-repeat
    center / 80%;
}
/* 하단 알림이 */
.main-down {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 25px;
  background: url("../images/top-btn.png") no-repeat;
  animation: move__ani 1s ease-out infinite alternate;
  z-index: 500;
}
/* 애니메이션 */
@keyframes move__ani {
  from {
    bottom: 2%;
  }
  80% {
    bottom: 3%;
  }
  to {
    bottom: 3%;
  }
}
.pager {
  display: none;
  position: absolute;
  top: initial;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  gap: 10px;
}
/* 크기 및 스타일 */
.pager > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #cccccc;
}
/* 선택된 페이지 색상 */
.pager > .select {
  background: #fff;
}
/** product */
/* 섹션 타이틀 */
.product > .sec-title {
  padding-top: 60px;
  margin: 0 0 60px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
/* 목록 */
.product > ul {
  display: flex;
  position: relative;
}
/* 목록 분할 */
.product > ul > li {
  width: calc(100% / 5);
}
/* .product > ul > li > a:target {
  border-bottom-style: #fff;
} */
.product > ul > li > button {
  font-size: 1.375em;
  padding-bottom: 10px;
  border-bottom: 7px solid #666666;
  display: block;
  width: 100%;
  height: 100%;
  color: #ccc;
  transition: 0.5s;
}
.product > ul > li > button:hover {
  color: #fff;
  border-bottom: 7px solid #fff;
}
/* 타이틀 본문 */
.product > ul > li > ul {
  /* display: none; */
  text-align: start;
  left: 0;
  position: absolute;
  top: 50px;
  height: calc(100vh - 35vh);
  width: 100%;
}
.product > ul > li > ul.active {
  z-index: 100;
}
/* 목록 내용 이미지, 텍스트 정렬 */
.product > ul > li > ul > li {
  display: flex;
  padding: 60px 80px;
  position: relative;
}
.product > ul > li > ul > li > div {
  position: relative;
  z-index: 30;
}
.product > ul > li > ul > li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.product .text-box-wrap {
  display: flex;
  margin: 0 60px;
  width: 40%;
  flex-direction: column;
}
.product .text-box-wrap > .text-box {
  display: inline-flex;
  flex: 1;
  position: relative;
  word-break: keep-all;
  padding: 60px 0 40px;
  flex-direction: column;
  align-items: flex-start;
}
.product .text-box-wrap > a {
  transition: all 0.5s;
}
.product .text-box-wrap > a:hover {
  background: #fff;
}
.product .text-box-wrap > .text-box > .sub-title {
  border-bottom: 2px solid #fff;
}
.product .text-align-end > .text-box {
  align-items: flex-end;
}
.product .more-btn {
  width: 210px;
  height: 60px;
  background: #999999;
  color: #000;
  text-align: center;
  line-height: 60px;
  margin: 30px 0;
}
.product .text-align-end .text-box .more-btn {
  left: initial;
  right: 0;
}
.product .img-box {
  flex: 1;
  border: 2px solid #fff;
}
.product .img-box > a {
  display: block;
  width: 100%;
  height: 100%;
}
.product .img-box img {
  object-fit: cover;
}
/* 너비 위치 조정 */
.product > ul {
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* TV 활성화 */
.product .product__tv > ul {
  /* display: block; */
}
.product .product__commercial > ul {
  /* display: block; */
}
.product .product__it > ul {
  /* display: block; */
}
.product .product__mobile > ul {
  /* display: block; */
}
.product .product__automotive > ul {
  /* display: block; */
}
.product li > ul > li {
  width: 100%;
  height: 100%;
  border-radius: 0 0 80px 80px;
}
/* product tv 배경 */
.product .product__tv > ul > li {
  background: url("../images/product-bg-1.jpg") no-repeat center / cover;
}
.product .product__commercial > ul > li {
  background: url("../images/product-bg-2.jpg") no-repeat right center / cover;
}
.product .product__it > ul > li {
  background: url("../images/product-bg-3.jpg") no-repeat center / cover;
}
.product .product__mobile > ul > li {
  background: url("../images/product-bg-4.jpg") no-repeat center / cover;
}
.product .product__automotive > ul > li {
  background: url("../images/product-bg-5.jpg") no-repeat center / cover;
}
/** tehonology */
/** OLED */
.technology-oled {
  background: url("../images/technology-1.jpg") no-repeat -100px 0 / 120%;
}
.technology-oled > .sec-title,
.technology-lcd > .sec-title {
  padding: 100px 100px 50px;
  text-align: start;
}
.technology-oled > .text-box,
.technology-lcd > .img-wrap > .text-box {
  position: absolute;
  left: 50%;
  bottom: 160px;
  text-align: center;
  transform: translateX(-50%);
}
.technology-oled > .text-box > strong,
.technology-lcd > .img-wrap > .text-box > strong {
  display: block;
  margin-bottom: 60px;
  font-size: 1.375em;
}
.technology-oled > .text-box > p,
.technology-lcd > .img-wrap > .text-box > p {
  width: 60%;
  margin: 0 auto;
  word-break: keep-all;
}
.technology-oled2 {
  background: url("../images/technology-1.jpg") no-repeat -100px calc(-100vh) / 120%;
  padding: 140px 65px;
}
.technology-oled2 > ul {
  position: relative;
  height: 100%;
}
.technology-oled2 > ul > li {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
}
.technology-oled2 > ul > li > div {
  position: relative;
}
.technology-oled2 > ul > .card-1 {
  z-index: 50;
}
.technology-oled2 > ul > .card-2 {
  z-index: 20;
}
.technology-oled2 > ul > .card-3 {
  z-index: 10;
}
.technology-oled2 > ul > .card-4 {
}
.technology-oled2 > ul > .card-5 {
  z-index: 10;
}
.technology-oled2 > ul > .card-6 {
  z-index: 20;
}
.technology-oled2 > ul > li > .img-box-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology-oled2 > ul > li .img-box {
  display: inline-block;
  text-align: center;
}
.technology-oled2 > ul > .card-1 .img-box {
  transform: perspective(300px);
}
.technology-oled2 > ul > .card-2 .img-box {
  transform: perspective(300px) translateX(400px) translateZ(-100px)
    rotateY(30deg);
}
.technology-oled2 > ul > .card-3 .img-box {
  transform: perspective(300px) translateX(400px) translateZ(-300px)
    rotateY(150deg);
}
.technology-oled2 > ul > .card-4 .img-box {
  transform: perspective(300px) translateZ(-400px) rotateY(180deg);
}
.technology-oled2 > ul > .card-5 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-300px)
    rotateY(-90deg);
}
.technology-oled2 > ul > .card-6 .img-box {
  transform: perspective(300px) translateX(-400px) translateZ(-100px)
    rotateY(-30deg);
}
.technology-oled2 > ul > li > .img-box-wrap > .img-box img {
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 #666;
  width: 350px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 31px;
}
.technology-oled2 > ul > li > .img-box > strong {
  display: block;
  font-size: 1.75rem;
}
.technology-oled2 > ul > li > .text-box {
  width: 675px;
  visibility: hidden;
}
.technology-oled2 > ul > .card-1 .text-box,
.technology-oled2 > ul > .card-2 .text-box,
.technology-oled2 > ul > .card-3 .text-box,
.technology-oled2 > ul > .card-4 .text-box,
.technology-oled2 > ul > .card-5 .text-box,
.technology-oled2 > ul > .card-6 .text-box {
  flex: 1;
  margin-left: 65px;
  z-index: 50;
}
.technology-oled2 > ul > .card-1 .text-box {
  visibility: visible;
}
.technology-oled2 > ul > .card-1 .text-box {
  background: url("../images/oled-1.jpg") no-repeat center 100% / cover;
}
.technology-oled2 > ul > .card-2 .text-box {
  background: url("../images/oled-2.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-3 .text-box {
  background: url("../images/oled-3.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-4 .text-box {
  background: url("../images/oled-4.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-5 .text-box {
  background: url("../images/oled-5.jpg") no-repeat center / cover;
}
.technology-oled2 > ul > .card-6 .text-box {
  background: url("../images/oled-6-2.jpg") no-repeat center 0 / cover;
}
.technology-oled2 > ul > li > .text-box > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 140px 40px;
  word-break: keep-all;
}
.technology-oled2 > ul > li > .text-box .sub-title,
.technology-lcd2 ul > li .text-box .sub-title {
  font-size: 2.111111em;
  text-shadow: 0 0 5px #000;
  letter-spacing: -0.5px;
  padding: 0;
}
.technology-oled2 > ul > li > .text-box .sub-title {
  margin-bottom: 100px;
}
.technology-oled2 > ul > li > .text-box .sub-title + p {
  text-shadow: 0 0 5px #000;
}
.technology-oled2 > .slide-btn,
.technology-lcd2 > .slide-btn {
  width: calc(50% + 35px);
  gap: 0;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: none;
  z-index: 90;
}
.slide-bar {
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: 140px;
  transform: translateX(-100%);
  height: 7px;
  background: #666666;
}
/** LCD */
.technology-lcd {
  display: flex;
  flex-direction: column;
}
.technology-lcd > .img-wrap {
  flex: 1;
  background: url("../images/technology-2.jpg") no-repeat center 70% / 150%;
}
.technology-lcd2 {
  padding: calc((100vh - 720px) / 2) 0;
}
.technology-lcd2 > .overflow {
  width: 85%;
  height: 720px;
  margin: 0 auto;
  overflow: hidden;
}
.technology-lcd2 ul {
  display: flex;
  width: calc(100% * 4);
  height: 100%;
}
.technology-lcd2 ul > li {
  width: calc(100% / 4);
}
.technology-lcd2 ul > li:first-child {
  background: url("../images/lcd-1.png") no-repeat center / contain;
}
.technology-lcd2 ul > li:nth-child(2) {
  background: url("../images/lcd-2.jpg") no-repeat 0 / cover;
}
.technology-lcd2 ul > li:nth-child(3) {
  background: url("../images/lcd-3.jpg") no-repeat 100% 0 / cover;
}
.technology-lcd2 ul > li:last-child {
  background: url("../images/lcd-4.jpg") no-repeat 100% 0 / cover;
}
.technology-lcd2 ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.technology-lcd2 ul > li .text-box {
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  word-break: keep-all;
}
.technology-lcd2 ul > li .text-box::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(252, 252, 252, 0) 74%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(252, 252, 252, 0) 74%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(252, 252, 252, 0) 74%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.technology-lcd2 ul > li .text-box .sub-title {
  position: relative;
  z-index: 20;
}
.technology-lcd2 ul > li .text-box p {
  position: relative;
  z-index: 20;
  width: 100%;
  text-shadow: 0 0 20px #000;
  word-break: keep-all;
}
.technology-lcd2 > .slide-btn {
  width: 100%;
  left: 0;
  padding: 0 40px;
}
/** ESG */
.esg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: initial;
}
.esg > h2 {
  margin: 150px 0;
}
.esg > div {
  flex: 1;
}
.esg > ul {
  display: flex;
  /* display: none; */
  width: 100%;
  flex: 1;
}
.esg > ul > li {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.esg > ul > li > div {
  text-align: center;
}
.esg > ul > li > div > button {
  display: block;
  width: 100%;
  height: 100%;
}
.esg > ul > li > div img {
  width: 70px;
  filter: invert(67%) sepia(5%) saturate(7%) hue-rotate(331deg) brightness(89%)
    contrast(93%);
  margin: 0 auto;
  margin-bottom: 50px;
  transition: 0.5s;
}
.esg > ul > li > div span {
  color: #999;
  font-size: 1.555556em;
  transition: 0.5s;
}
.esg > ul > li > div:hover img {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg)
    brightness(111%) contrast(101%);
}
.esg > ul > li > div:hover span {
  color: #fff;
}
.esg > ul > li.active > div img {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg)
    brightness(111%) contrast(101%);
}
.esg > ul > li.active > div span {
  color: #fff;
}
.env,
.social,
.gover {
  width: 90%;
  padding: 100px 0;
}
.env {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.env table,
.env .chart {
  width: 47%;
}

.env .sub-title {
  margin: 0;
}
.env th {
  font-size: 28px;
}
.env th > img {
  width: 70%;
  margin: 0 auto;
}
.env th,
.env td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.env tr:first-child th {
  border: none;
}
.env td {
  padding: 10px 25px;
}
.env td > img {
  width: 30px;
  margin: 0 auto;
}
.env .chart {
  border-bottom: 1px solid #fff;
  position: relative;
}
.env .chart > p {
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.env .chart > .number {
  display: flex;
  flex-direction: column;
}
.env .chart > .number > li {
  display: flex;
  justify-content: space-between;
  text-align: end;
}
.env .chart > .number > li:nth-child(7) {
  margin-bottom: 10px;
}
.env .chart > .number > li > p {
  width: 10%;
  margin-right: 10px;
  line-height: 2.5;
  font-size: 16px;
}
.env .chart > .number > li > div {
  flex: 1;
  font-size: 0.555556em;
  border-bottom: 1px solid #ccc;
  position: relative;
  bottom: 22.5px;
  line-height: 45px;
}
.env .chart > .number .chart-bar {
  position: absolute;
  bottom: -25px;
  left: 15%;
  display: flex;
  width: calc(100% - 15%);
  text-align: center;
}
.env .chart > .number .chart-bar > li {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column-reverse;
}
.env .chart > .number .chart-bar > li > ul {
  display: flex;
}
.env .chart > .number .chart-bar > li > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.env .chart > .number .chart-bar > li > ul > li > p {
  font-size: 16px;
}
.env .chart > .number .chart-bar > li > ul > li > div {
  width: 30px;
  margin-top: 10px;
}
.env .chart > .number .chart-bar > li > ul > li:first-child > div {
  background: #cc6666;
}
.env .chart > .number .chart-bar > li > ul > li:nth-child(2) > div {
  background: #cc0066;
}
.env .chart > .number .chart-bar > li > ul > li:last-child > div {
  background: #666666;
}
.env .chart > .number .chart-bar > .year__2019 > ul > li:first-child > div {
  height: 205px;
}
.env .chart > .number .chart-bar > .year__2019 > ul > li:nth-child(2) > div {
  height: 155px;
}
.env .chart > .number .chart-bar > .year__2019 > ul > li:last-child > div {
  height: 140px;
}
.env .chart > .number .chart-bar > .year__2020 > ul > li:first-child > div {
  height: 235px;
}
.env .chart > .number .chart-bar > .year__2020 > ul > li:nth-child(2) > div {
  height: 45px;
}
.env .chart > .number .chart-bar > .year__2020 > ul > li:last-child > div {
  height: 238px;
}
.env .chart > .number .chart-bar > .year__2021 > ul > li:first-child > div {
  height: 260px;
}
.env .chart > .number .chart-bar > .year__2021 > ul > li:nth-child(2) > div {
  height: 43px;
}
.env .chart > .number .chart-bar > .year__2021 > ul > li:last-child > div {
  height: 105px;
}
.env .chart > .chart-legend {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
  left: 50%;
  transform: translateX(-45%);
  bottom: -50px;
}
.env .chart > .chart-legend > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 200;
}
.env .chart > .chart-legend > div > .chart-legend__color {
  width: 10px;
  height: 10px;
}
.env .chart > .chart-legend > div:first-child > .chart-legend__color {
  background: #cc6666;
}
.env .chart > .chart-legend > div:nth-child(2) > .chart-legend__color {
  background: #cc0066;
}
.env .chart > .chart-legend > div:last-child > .chart-legend__color {
  background: #666666;
}
.social {
  display: flex;
}
.social > div {
  text-align: center;
  flex: 1;
}
.social > .social__left > ul > li {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 0.888889em;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.social > .social__right > div {
  display: flex;
  flex-wrap: wrap;
}
.social > .social__right > div > a {
  font-size: 1.777778em;
  display: block;
  width: 50%;
  margin-bottom: 90px;
}
.gover table {
  width: 100%;
  text-align: center;
}
.gover table > caption {
  text-align: start;
}
.gover table tr > * {
  padding: 15px 0;
  border: 1px solid #fff;
  background: #ccc;
  color: #000;
}
.gover table tr > th {
  font-size: 1.444444em;
  background: #999;
  color: #fff;
  width: calc(100% / 6);
}
.gover table tr > td:first-child {
  color: #fff;
  background: #999;
}
/** Latest News */
.latest-news > .sec-title {
  padding: 60px 0 0;
}
.latest-news > div {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.latest-news > div:first-of-type {
  margin-top: 90px;
  margin-bottom: 90px;
}
.latest-news > div > a {
  margin-right: 110px;
}
.latest-news > div > a > img {
  width: 480px;
  height: 270px;
  object-fit: cover;
}
.latest-news > div > .text-box {
  flex: 1;
}
.latest-news > div > .text-box > .news__title > p {
  display: inline-block;
  font-size: 1.444444em;
  font-weight: 500;
  width: 80%;
  word-break: keep-all;
  margin-bottom: 50px;
}
.latest-news > div > .text-box > .news__title > .date {
  float: right;
}
.latest-news > div > .text-box > p {
  margin-bottom: 25px;
  font-size: 0.777778em;
  word-break: keep-all;
  color: #ccc;
}

/*^ media query */
@media screen and (min-height: 1081px) {
  .gnb > li > a {
    padding: 50px 20px;
  }
}
