:root {
  --main-color: #d22323;
  --header-size: 210px;
}
.--inner {
  width: 90%;
  margin: 0 auto;
}
.--img-white {
  filter: invert(100%) sepia(0%) saturate(930%) hue-rotate(167deg)
    brightness(111%) contrast(101%);
}
